td.demoGray {
	background-color: #AAAAAA;
}

td.tl-table__cell--selected.demoGray {
	background-color: #999999;
}

td.demoRed {
	background-color: #DD0000;
}

td.tl-table__cell--selected.demoGray.demoRed {
	background-color: #AA0000;
}

td.demoGreen {
	background-color: #00DD00;
}

td.tl-table__cell--selected.demoGreen {
	background-color: #00AA00;
}

.demo-fuchsia {
	color: #CC00CC
}

.demo-red {
	color: #FF0000
}

.demo-green {
	color: #009900
}

.demo-blue {
	color: #0000CC
}

.demoImportantGroup .rf_content {
	background: #FFDDDD;
}

/* ========================================== */
/* ==== Calendar styles for marked cells ==== */
/* ========================================== */

.cal_cell.markedGreen {
	color: green;
}

.cal_cell.markedRed {
	color: red;
}
