/*
  CSS for the WYSIWYG editor.
  
  The classes prefixed with "cke" are those of the CKEditor itself.
*/

.cke_editable {
	height: min-content;
}

.structuredTextFullHeight,
.structuredTextFullHeight .cke_inner,
.structuredTextFullHeight .cke,
.cStructuredText {
	height: 100%;
}

.cke_editable {
	padding: 0 var(--spacing-03);
	overflow: auto;
}

.immutableSourceCodeFrame > :first-child {
	/* HTML as value of a field in a form must not have enormous space between label and text. */
	margin-top: 0px;
}

.structuredTextFullHeight {
	padding: 0 var(--spacing-03);
}

.structuredTextFullHeight .tlTranslatedI18nField {
	height: 100%;
}

.structuredTextFullHeight,
.cke_editable {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}

.structuredTextFullHeight .cke_inner {
	display: flex;
	flex-flow: column;
}

.structuredTextFullHeight .cke_top,
.structuredTextFullHeight .cke_bottom {
	flex: 0 0 auto;
}

.structuredTextFullHeight .cke_contents {
	flex: 1 1 auto;
}

.structuredTextFullHeight .cke_reset {
	box-sizing: border-box;
}

.tlObjectWrapper {
	white-space: nowrap;
}

.cke_notification_message {
	overflow-wrap: break-word;	
}

.cke_combo__format .cke_combopanel {
	width: auto !important;
}
