/* Styles for display help for TL-Script.*/

div.tlScriptDoc {
	max-width: 500px;
	overflow: auto;
}

div.ace_tooltip {
	white-space: normal;
	max-height: 50vh;
	overflow: auto;
}

div.ace_tooltip>code {
	white-space: pre;
}

div.ace_tooltip>code.inlineCode {
	white-space: normal;
}

/*Styles for displaying the preview in a document tile.*/
.documentPreview .previewBoxInner {
	height: 100%;
}

.tablePreview .previewBoxInner,
.formPreview .previewBoxInner {
	height: 100%;
	top: 0px;
	transform: none;
	overflow: hidden;
	text-align: left;
}

.galleryPreview .previewBoxInner {
	height: 100%;
}

.galleryPreview .previewBoxInner img {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.modelBasedSearch div.dfList div.dfList, 
.modelBasedSearch .dfModeFull div.dfList {
	margin-left: var(--spacing-04);
}

.modelBasedSearch .dfListContent,
.modelBasedSearch .dfListEntry {
	margin-top: var(--spacing-02);
	white-space: nowrap;
}

.modelBasedSearch .dfListEntry {
	display: grid;
	grid-column-gap: var(--spacing-01);
	grid-template-columns: repeat(8, auto);
	align-items: center;
}

.modelBasedSearch .dfListEntry > * {
	max-width: max-content;
}

.modelBasedSearch .dfListContent .dfListEntry:first-child {
	margin-top: 0; /* otherwise the margin is stacked */
}

.modelBasedSearch span.dfListRemove {
	margin-right: var(--spacing-02);
}

.modelBasedSearch .ddwttContainer.active {
	display: unset;
	min-width: max-content;
}

.modelBasedSearch .cTextInput {
	min-width: calc(2 * var(--spacing-03) + var(--spacing-02));
	text-align: center;
}

.modelBasedSearch .cTextInput:not(.searchIrrelevant) input.is-input:not([size]) {
	width: 100vw;
}

.modelBasedSearch .cPopupSelect.active {
	width: unset;
}
