/*/.apt_generated
/*/.apt_generated_tests
/*/build
/*/dist
/*/target
/*/tmp
/*/war
**/webapp/script/top-logic.js
**/webapp/style/_*.css
**/webapp/WEB-INF/classes
/tl-doc/
/.apt_generated
/.apt_generated_tests
/target
/tmp
/war
/src/main/webapp/script/top-logic.js
/src/main/webapp/style/_*.css
/.settings/com.gwtplugins.gwt.eclipse.core.prefs
/**/*~
