/*
  CSS for TL DOC APP.
*/

.importErrorIcon + * {
	background-color: rgba(255, 0 ,0, 0.4);
}
.importErrorIcon {
	color: red;
	padding-right: 0.5em;
}

.externalLinkIcon {
	padding-left: 0.5em;
    font-size: 90%;
}