/* ------------------------------- Obere Toolbar Admin, Suche, Help, Record, Pfeil, .... */

/* Icon font in tool row*/
div.ToolContainer a.input-image {
	height: 36px;
	width: 36px;
}

/* Icon font in tool row*/
div.ToolContainer a.input-image i {
	font-size: var(--TOOLBAR_BUTTON_ICON_SIZE);
	color: var(--TOOLBAR_BUTTON_ICON_COLOR);
}

div.ToolContainer .input-image i span::before,
div.ToolContainer .input-image:hover i span::before {
	color: var(--ICON_COLOR_HIGHLIGHT_BG);
}

div.ToolContainer .input-image i[class*=" overlay-"] span::before,
div.ToolContainer .input-image:hover i[class*=" overlay-"] span::before {
	color: var(--ICON_COLOR_OVERLAY_HIGHLIGHT_BG);
}

div.ToolContainer .input-image i span::after {
	color: var(--TOOLBAR_BUTTON_ICON_COLOR_HIGHLIGHT);
}

div.ToolContainer div.IconContainer .input-image {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(197, 217, 242, 1) 52%);
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.70);
}

div.ToolContainer div.IconContainer .input-image:hover {
	background: linear-gradient(to bottom, rgba(217, 217, 217, 0.9) 50%, rgba(255, 255, 255, 0.5));
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.70);
}

div.ToolContainer div.IconContainer .input-image.pushed, 
div.ToolContainer div.IconContainer .input-image.disabled {
	background: linear-gradient(to bottom, rgba(178, 196, 251, 0.9) 50%, rgba(255, 255, 255, 0.5));
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.70);
}

div.ToolContainerRight ul li {
	background: none;
	border: 0;
	box-shadow: none;
}

div.ToolContainer div.IconContainer ul.mtbGroup .input-image {
	border-radius: 0;
}

div.ToolContainer div.IconContainer ul.mtbGroup li:first-child .input-image {
	border-radius: 5px 0 0 5px;
}

div.ToolContainer div.IconContainer ul.mtbGroup li:last-child .input-image {
	border-radius: 0 5px 5px 0;
}

div.ToolContainer div.IconContainer .input-image,
div.ToolContainer div.IconContainer ul.mtbGroup li:first-child:last-child .input-image {
	border-radius: 5px;
}

div.IconContainer ul li .input-image {
	width: 36px;
	height: 36px;
	box-sizing: content-box;
}

.ToolBarContainer .header-logo i {
	font-size: 10em;
}

div.ToolContainer div.IconContainer .tlUser {
	margin-left: 8px;
}

div.ToolContainer div.IconContainer .tlUser a.input-image {
	padding: 8px !important;
	margin-top: -4px;
	background: rgba(var(--TL-iron-rgb), 0.5);
	border-radius: 30px;
}

/* ------------------------------------ Ende Toolbar */

/* ------------------------------------- Icons Hintergrund */

/* Popup dialog toolbar buttons.*/
span.pdlgToolbar .input-image, 

/* Toolbar buttons in tables within forms.*/
.tl-table__title-toolbar .input-image,

/* Plus and minus buttons in integer input fields.*/
span.cIntegerInput .input-image,

/* Expand/collapse button in expandable text input fields (variant 1).*/
span.cExpandableTextInput .input-image,

/* Expand/collapse button in expandable text input fields (variant 2).*/
span.cBlockTextInput .input-image,

/* Download/clear buttons in upload fields.*/
.cDownload .input-image {
	background: var(--IMAGE_BUTTON_BACKGROUND);
	border: var(--IMAGE_BUTTON_BORDER_DISABLED);
}

div.cCollapsibleToolbar .input-image.disabled,
span.cImageButton .input-image.disabled,
span.dlgToolbar .input-image.disabled, 
span.pdlgToolbar .input-image.disabled, 
span.cOpenCalendar .input-image.disabled,
span.cTimeInput .input-image.disabled,
span.cPopupSelect .input-image.disabled,
span.cTextSelect .input-image.disabled,
span.cIntegerInput .input-image.disabled,
.tl-table__title-toolbar .input-image.disabled,
span.cExpandableTextInput .input-image.disabled,
span.cBlockTextInput .input-image.disabled,
.cDownload .input-image.disabled,
span.cImageLinkButton .input-image.disabled,
span.cDecoratedCell .input-image.disabled,
span.cExpandableTextInput .input-image.disabled,
span.cBlockTextInput .input-image.disabled,
span.urlWithIcon .input-image.disabled,
.fChoose.input-image.disabled {
	background: var(--IMAGE_BUTTON_BACKGROUND_DISABLED);
	cursor: var(--IMAGE_BUTTON_BACKGROUND_DISABLED_CURSOR);
	box-shadow: var(--IMAGE_BUTTON_BACKGROUND_DISABLED_BOXSHADOW);
	border: var(--IMAGE_BUTTON_BORDER_DISABLED);
}

div.cCollapsibleToolbar .input-image.disabled:hover,
span.cImageButton .input-image.disabled:hover,
span.dlgToolbar .input-image.disabled:hover, 
span.pdlgToolbar .input-image.disabled:hover, 
span.cOpenCalendar .input-image.disabled:hover,
span.cTimeInput .input-image.disabled:hover,
span.cPopupSelect .input-image.disabled:hover,
span.cTextSelect .input-image.disabled:hover,
span.cIntegerInput .input-image.disabled:hover,
.tl-table__title-toolbar .input-image.disabled:hover,
span.cExpandableTextInput .input-image.disabled:hover,
span.cBlockTextInput .input-image.disabled:hover,
.cDownload .input-image.disabled:hover,
span.cImageLinkButton .input-image.disabled:hover,
span.cDecoratedCell .input-image.disabled:hover,
span.cExpandableTextInput .input-image.disabled:hover,
span.cBlockTextInput .input-image.disabled:hover,
span.urlWithIcon .input-image.disabled:hover,
.fChoose.input-image.disabled:hover {
	background: var(--IMAGE_BUTTON_BACKGROUND_DISABLED);
	cursor: var(--IMAGE_BUTTON_BACKGROUND_DISABLED_CURSOR);
	box-shadow: var(--IMAGE_BUTTON_BACKGROUND_DISABLED_BOXSHADOW);
	border: var(--IMAGE_BUTTON_BORDER_DISABLED_HOVER);
}

div.cCollapsibleToolbar .input-image,
span.cImageButton .input-image,
span.cmdLink .input-image,
span.cmdLinkActive .input-image,
span.cmdLinkDisabled .input-image,
span.cOpenCalendar .input-image,
span.cTimeInput .input-image,
span.cPopupSelect .input-image,
span.cIntegerInput .input-image,
span.cTextSelect .input-image,
span.cImageLinkButton .input-image,
.cDownload .input-image,
span.cDecoratedCell .input-image,
span.cExpandableTextInput .input-image,
span.cBlockTextInput .input-image,
span.urlWithIcon .input-image,
.fChoose.input-image,
span.dlgToolbar .input-image,
span.pdlgToolbar .input-image {
	background: var(--IMAGE_BUTTON_BACKGROUND);
	border: var(--IMAGE_BUTTON_BACKGROUND_BORDER);
	box-shadow: var(--IMAGE_BUTTON_BACKGROUND_BOXSHADOW);
	display: inline-block;
	width: var(--ICON_SIZE_NORMAL);
	height: var(--ICON_SIZE_NORMAL);
	position: relative;
}

span.dlgToolbar .input-image:hover,
div.cCollapsibleToolbar .input-image:hover,
span.cmdLink .input-image:hover,
span.cmdLinkActive .input-image:hover,
span.cmdLinkDisabled .input-image:hover,
span.cImageButton .input-image:hover,
span.cOpenCalendar .input-image:hover,
span.cTimeInput .input-image:hover,
span.cPopupSelect .input-image:hover,
.cIntegerInput .input-image:hover,
span.cTextSelect .input-image:hover,
span.cImageLinkButton .input-image:hover,
.cDownload .input-image:hover,
span.cDecoratedCell .input-image:hover,
span.cExpandableTextInput .input-image:hover,
span.cBlockTextInput .input-image:hover,
span.urlWithIcon .input-image:hover,
.fChoose.input-image:hover,
span.dlgToolbar .input-image:hover,
span.pdlgToolbar .input-image:hover {
	background: var(--IMAGE_BUTTON_BACKGROUND_HOVER);
	box-shadow: var(--IMAGE_BUTTON_BACKGROUND_HOVER_BOXSHADOW);
	border: var(--IMAGE_BUTTON_BORDER_HOVER);
}

span.cImageButton .input-image i,
span.cmdLink .input-image i,
span.cmdLinkActive .input-image i,
span.cmdLinkDisabled .input-image i,
span.cOpenCalendar .input-image i,
span.cTimeInput .input-image i,
span.cPopupSelect .input-image i,
.cIntegerInput .input-image i,
span.cTextSelect .input-image i,
span.cImageLinkButton .input-image i,
.cDownload .input-image i,
span.cDecoratedCell .input-image i,
span.cExpandableTextInput .input-image i,
span.cBlockTextInput .input-image i,
span.urlWithIcon .input-image i,
.fChoose.input-image i {
	color: var(--ICON_COLOR_BUTTON_BASIC);
	font-size: 14px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span.cImageButton i[class*=" overlay-"] span::before,
span.cmdLink i[class*=" overlay-"] span::before,
span.cmdLinkActive i[class*=" overlay-"] span::before,
span.cmdLinkDisabled i[class*=" overlay-"] span::before,
span.cOpenCalendar i[class*=" overlay-"] span::before,
span.cTimeInput .i[class*=" overlay-"] span::before,
span.cPopupSelect i[class*=" overlay-"] span::before,
.cIntegerInput i[class*=" overlay-"] span::before,
span.cTextSelect i[class*=" overlay-"] span::before,
span.cImageLinkButton i[class*=" overlay-"] span::before,
.cDataItem i[class*=" overlay-"] span::before,
span.cDecoratedCell i[class*=" overlay-"] span::before,
span.cExpandableTextInput i[class*=" overlay-"] span::before,
span.cBlockTextInput i[class*=" overlay-"] span::before,
span.urlWithIcon i[class*=" overlay-"] span::before,
.fChoose.i[class*=" overlay-"] span::before {
	color: var(--BUTTON_COLOR); 
}

span.cImageButton .input-image span::after,
span.cmdLink .input-image span::after,
span.cmdLinkActive .input-image span::after,
span.cmdLinkDisabled .input-image span::after,
span.cOpenCalendar .input-image span::after,
span.cTimeInput .input-image span::after,
span.cPopupSelect .input-image span::after,
.cIntegerInput .input-image span::after,
span.cTextSelect .input-image span::after,
span.cImageLinkButton .input-image span::after,
.cDownload .input-image span::after,
span.cDecoratedCell .input-image span::after,
span.cExpandableTextInput .input-image span::after,
span.cBlockTextInput .input-image span::after,
span.urlWithIcon .input-image span::after,
.fChoose.input-image span::after {
	color: var(--ICON_COLOR_BUTTON_HIGHLIGHT);
}

div.cCollapsibleToolbar .input-image i,
.tl-table__title-toolbar .input-image i,
span.dlgToolbar .input-image i,
span.pdlgToolbar .input-image i {
	color: var(--ICON_COLOR_BUTTON_TOOLBAR_BASIC);
	font-size: 14px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.cCollapsibleToolbar i[class*=" overlay-"] span::before,
.tl-table__title-toolbar i[class*=" overlay-"] span::before,
span.dlgToolbar i[class*=" overlay-"] span::before,
span.pdlgToolbar i[class*=" overlay-"] span::before {
	color: var(--ICON_COLOR_OVERLAY_DARK_CONTEXT_HIGHLIGHT_BG);
}

div.cCollapsibleToolbar .input-image span::after,
.tl-table__title-toolbar .input-image span::after,
span.dlgToolbar .input-image span::after,
span.pdlgToolbar .input-image span::after {
	color: var(--ICON_COLOR_BUTTON_TOOLBAR_HIGHLIGHT);
}

span.cImageButton .input-image.disabled i,
span.cmdLink .input-image.disabled i,
span.cOpenCalendar .input-image.disabled i,
span.cTimeInput .input-image.disabled i,
span.cPopupSelect .input-image.disabled i,
.cIntegerInput .input-image.disabled i,
span.cTextSelect .input-image.disabled i,
span.cImageLinkButton .input-image.disabled i,
.cDownload .input-image.disabled i,
span.cDecoratedCell .input-image.disabled i,
span.cExpandableTextInput .input-image.disabled i,
span.cBlockTextInput .input-image.disabled i,
span.urlWithIcon .input-image.disabled i,
span.cIconSelect .input-image.cannot-edit i,
.fChoose.input-image.disabled i,
a.cmdButtonDisabled i,
.cMenuButton.menuEntryDisabled i,
.cMenuButton.menuEntryDisabled:hover i,
.cmdLinkDisabled .input-image.disabled i {
	color: var(--ICON_COLOR_BUTTON_DISABLED_BASIC);
}

span.cImageButton .input-image.disabled span::after,
span.cmdLink .input-image.disabled span::after,
span.cOpenCalendar .input-image.disabled span::after,
span.cTimeInput .input-image.disabled span::after,
span.cPopupSelect .input-image.disabled span::after,
.cIntegerInput .input-image.disabled span::after,
span.cTextSelect .input-image.disabled span::after,
span.cImageLinkButton .input-image.disabled span::after,
.cDownload .input-image.disabled span::after,
span.cDecoratedCell .input-image.disabled span::after,
span.cExpandableTextInput .input-image.disabled span::after,
span.cBlockTextInput .input-image.disabled span::after,
span.urlWithIcon .input-image.disabled span::after,
span.cIconSelect .input-image.cannot-edit span::after,
.fChoose.input-image.disabled span::after,
a.cmdButtonDisabled span::after,
.cMenuButton.menuEntryDisabled span::after,
.cMenuButton.menuEntryDisabled:hover span::after,
.cmdLinkDisabled .input-image.disabled span::after {
	color: var(--ICON_COLOR_BUTTON_DISABLED_HIGHLIGHT);
}

div.cCollapsibleToolbar .input-image.disabled i,
.tl-table__title-toolbar .input-image.disabled i,
span.dlgToolbar .input-image.disabled i,
span.pdlgToolbar .input-image.disabled i {
	color: var(--ICON_COLOR_BUTTON_TOOLBAR_DISABLED_BASIC);
}

div.cCollapsibleToolbar .input-image.disabled span::after,
.tl-table__title-toolbar .input-image.disabled span::after,
span.dlgToolbar .input-image.disabled span::after,
span.pdlgToolbar .input-image.disabled span::after {
	color: var(--ICON_COLOR_BUTTON_TOOLBAR_DISABLED_HIGHLIGHT);
}

span.cmdLinkDisabled .input-image {
	background: var(--IMAGE_BUTTON_BACKGROUND_DISABLED);
}

.cDefaultButton button {
	height: var(--ICON_SIZE_NORMAL);
	min-width: 32px;
}

:is(.tl-table__cell, div.tblCellInnerSpacer) .fToggle .input-image {
	background: none;
}

:is(.tl-table__cell, div.tblCellInnerSpacer) .fToggle .input-image i { 
	color: var(--ICON_COLOR_BASIC); 
}

:is(.tl-table__cell, div.tblCellInnerSpacer) .fToggle .input-image span::before { 
	color: var(--ICON_COLOR_HIGHLIGHT_BG); 

}

:is(.tl-table__cell, div.tblCellInnerSpacer) .fToggle .input-image span::after { 
	color: var(--ICON_COLOR_HIGHLIGHT); 
}

input.fltButton {
	border: var(--FLT_BUTTON_BORDER);
}

input.fltButton:hover {
	border: var(--FLT_BUTTON_BORDER_HOVER);
}

div.cCollapsibleHeader div.cCollapsibleToolbar .input-image.disabled {
	filter: none;
}

span.accIcon.input-image span::before
{
	color: var(--ACCORDION_ICON_SECOND_COLOR);
}

span.accIcon.input-image span::after {
	color: var(--ACCORDION_ICON_THIRD_COLOR);
}

.tl-table__footer i,
.treeNode .fToggle i {
	font-size: 10px; 
}

.tl-table__footer span.disabled i,
.treeNode .fToggle i {
	color: grey;
}

.treeNode .fToggle.input-image,
.treeNode img {
	margin-right: 5px;
	width: 10px;
} 

.rf_header i {
	color: var(--GROUP_LABEL_COLOR);
	padding: 5px;
}

.rf_groupCell.noLegend > .rf_header i {
	color: var(--ICON_COLOR_BASIC);
}

a.cmdButton i,
.fptIconOverlay i,
.cFormEditorToolbox [data-tool=true] > .attribute i,
.cDataItem label i {
	color: var(--ICON_COLOR_DARK_CONTEXT_BASIC);
}

a.cmdButton i[class*=" overlay-"] span::before,
.fptIconOverlay i[class*=" overlay-"] span::before,
.cFormEditorToolbox [data-tool=true] > .attribute i[class*=" overlay-"] span::before,
.cDataItem label i[class*=" overlay-"] span::before {
	color: var(--ICON_COLOR_OVERLAY_DARK_CONTEXT_HIGHLIGHT_BG);
}

a.cmdButton i span:after,
.fptIconOverlay i span:after,
.cFormEditorToolbox [data-tool=true] > .attribute i span:after,
.cDataItem label i[class*=" overlay-"] span::after {
	color: var(--ICON_COLOR_DARK_CONTEXT_HIGHLIGHT);
}

.fptIconOverlay i {
	font-size: 48px;
}

div.cCollapsibleToolbar
{
	display: flex; /* to keep the icons in one line */
    padding: 0 6px 0 0;
}

a.input-image.disabled, 
a.input-image.cannot-edit {
	/*pointer-events: none;*/
}