/*
 * Styles for the sidebar theme.
 */
.sblLogo {
	background-color: var(--SBL_LOGO_BACKGROUND_COLOR);
	background: var(--SBL_LOGO_BACKGROUND);
	
	color: var(--SBL_LOGO_COLOR);
	font-size: larger;
	font-weight: bold;
}

.sblLogo i {
	color: var(--SBL_LOGO_COLOR);
}

.sblLogo .frmBody {
	margin-top: 5px;	
	margin-bottom: 5px;	
}

.sblTitle {
	display: flex;
	align-items: center;
	line-height: 18px;	
}

.sblTitle i {
	font-size: 30px;	
}

div.mcMinimized .sblTitle img {
	max-width: 28px;
}

.sblTitleContent {
	display: inline-block; 
	vertical-align: middle; 
	padding-left: 5px;
	overflow: hidden;
}

.sblTitleName {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.sblTitleVersion {
	display: block; 
	font-size: xx-small; 
	font-weight: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.mcMinimized .sblLogo .frmBody {
	margin: 5px;	
}

div.layoutControl.accRoot {
	display: flex;
	flex-direction: column;
}

div.sblAccordion {
	flex: 1 0 auto;
	overflow-x: hidden;
}

div.sblButtons {
	margin-top: 15px;
	flex: 0 0 auto;
	overflow-x: hidden;
}

div.accRoot ul.mtbGroup {
	display: block;
	padding: 0px;
	margin: 0px;
}

div.accRoot ul.mtbGroup li {
	display: block;
	padding: 0px;
	margin: 0px;
}

body.sblLogo div.frmBody {
	margin-top: 5px;
	margin-bottom: 0px;
}

div.quickSearchTitle {
	margin-top: 8px;
	display: table;
	width: 100%;
}

div.quickSearchTitle span.quickSearch {
	display: table-row;
}

div.quickSearchTitle span.quickSearchInput {
	display: table-cell;
	width: 100%;
}

div.quickSearchTitle span.quickSearchInput input {
	width: 100%;
}

div.notificationTitle {
	background: var(--SYSTEM_MESSAGE_COLOR);
	color: white;
	text-align: center;
	padding-top: 2px;
}

.cMinimizable div.notificationTitle {
	background: var(--SYSTEM_MESSAGE_SIDEBAR_COLOR);
}

.accIcon.input-image .active span::before {
	color: var(--SYSTEM_MESSAGE_COLOR);
}

div.licenseView {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px;
}

.cFormEditorToolbox [data-tool=true] > .attribute i { color: var(--BUTTON_COLOR); }
.cFormEditorToolbox [data-tool=true] > .attribute:hover i { color: var(--BUTTON_COLOR_HOVER); }
.cFormEditorToolbox [data-tool=true] > .attribute span::before { color: var(--ICON_COLOR_HIGHLIGHT_BG); }
.cFormEditorToolbox [data-tool=true] > .attribute span::after { color: var(--ICON_COLOR_HIGHLIGHT); }

span.fptIconOverlay i {
	color: var(--ICON_COLOR_GREY);
}

.cDataItem label.cmdButton:hover,
.cDataItem .cmdButton
{
    border:           inherit;
	background: 	  inherit;
}

.cDataItem .cmdButton:hover span.cmdLabel,
.cDataItem label i {
	color:            var(--BUTTON_COLOR);
}

.cDataItem .cmdButton:hover span.cmdLabel i
{
	color: 			  var(--BUTTON_COLOR_HOVER);
}

/************************
 **** Input borders
 ************************/
textarea,
input.is-input,
input.is-popup,
button,
select.tl-select
{
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	padding-top: 3px;
	padding-bottom: 3px;
}

textarea,
input.is-input,
input.is-popup
{
	border-radius: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

button {
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

select.tl-select {
	border-radius: 4px;
	padding-left: 4px;
	font-family:inherit;
}

/************************
 **** End
 ************************/
 

/************************
 **** Gallery display
 ************************/
.activeGalleryManagementButton, .inactiveGalleryManagementButton {
	background-color: var(--BUTTONBAR_BACKGROUND);
}

/************************
 **** Navigation component
 ************************/

.BreadCrumbOuter {
	height: auto;
}

.BreadCrumbOuter .Right,
.BreadCrumbOuter .Left {
	margin: 0px; 
}

.BreadCrumbOuter .Left {
	padding: 0px;
}

/* Don't use the theme variables of the breadcrumb to define the background color:
 * It is displayed in various contexts and therefore has to adapt to its background.
 * But this here is the style of the app title, not just the style of the breadcrumb.
 * It can therefore not use the breadcrumb style. */
.lcNavigation {
	background: #666666;
	color: #ffffff;
}

.breadcrumb .selectableNode {
	background: transparent;
	border: 0px;
	border-radius: 0;
	font-weight: bold;
	font-size: var(--FONT_SIZE_BREADCRUMB);
}

.breadcrumb .treeNode:hover .selectableNode {
	background: transparent;
	padding-top: 1px;
	padding-bottom: 1px;
	outline-width: 1px;
	outline-style: solid;
	outline-color: lightgray;
}

.mcMinimized .sidebar-max,
.sidebar-min {
	display: none;	
}

.mcMinimized .sidebar-min {
	display: initial;	
}

.mcMinimized .accRoot.lcAuto {
	overflow: hidden;
}

.mcMinimized:hover .accRoot.lcAuto {
	overflow: auto;
	scrollbar-width: thin;
}

.cMinimizable:not(.mcMinimized) .tabbarPopup {
	position: absolute;
	top: 5px;
	right: 5px;
}

.mcMinimized .tabbarPopup {
	text-align: center;
}

.tabbarPopup .cImageButton .input-image i {
	color: var(--SBL_TABBAR_POPUP);
}