/***********************************************************************************
			New tab bar classes
***********************************************************************************/
.tabBar, .mainTabBar {
	position: relative;
	line-height: normal;
}

.mainTabBar {
	background: var(--TOOLBAR_BACKGROUND);
}

.tabBar {
	background: var(--TABBAR_BACKGROUND);
}

.firstLevelTabBar {
	background: var(--TABBAR_L1_BACKGROUND);
	padding-top: var(--TABBAR_L1_PADDING_TOP);
}

.tabBarBaseLine {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px; 
	background-color: var(--TABBAR_BASELINE_BACKGROUND_COLOR);
}

.mainTabBar .tabBarBaseLine {
	display: none;
}

.scrollContainer {
	overflow: hidden;
	white-space: nowrap;
}

.tabContainer {
	display: inline-block;
	position: relative;
	min-height: var(--TABCONTAINER_MIN_HEIGHT);
}

.mainTabBar .tabContainer {
	padding-left: 10px;
}

.tab {
	cursor: pointer;
}

.IE .tabBar .tab {
	position: relative;
	top: -1px;
	height: 22px;
	padding: 0;
	border: none;
	background-image:url(../images/tab2_inactive_middle.png);
	background-repeat: repeat-x;
}

.IE .firstLevelTabBar .tab {
	background-image:url(../images/tab1_inactive_middle.png);
}

.IE .tabBar .tab:hover {
	padding: 0;
	border: none;
	background-image:url(../images/tab2_hover_middle.png);
}

.IE .firstLevelTabBar .tab:hover {
	background-image:url(../images/tab1_hover_middle.png);
}

.IE .tabBar .activeTab {
	display: inline-block;
	height: 23px;
	padding: 0;
	border: none;
	background-image:url(../images/tab2_selected_middle.png);
	background-repeat: repeat-x;
}

.IE .firstLevelTabBar .activeTab {
	background-image:url(../images/tab1_selected_middle.png);
}

.IE .tabBar .tab .leftBorder {
	display: inline-block;
	height: 22px;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: left top;
	background-image:url(../images/tab2_inactive_left.png);
}

.IE .firstLevelTabBar .tab .leftBorder {
	background-image:url(../images/tab1_inactive_left.png);
}

.IE .tabBar .tab:hover .leftBorder {
	background-image:url(../images/tab2_hover_left.png);
}

.IE .firstLevelTabBar .tab:hover .leftBorder {
	background-image:url(../images/tab1_hover_left.png);
}

.IE .tabBar .activeTab .leftBorder {
	display: inline-block;
	height: 23px;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: left top;
	background-image:url(../images/tab2_selected_left.png);
}

.IE .firstLevelTabBar .activeTab .leftBorder {
	background-image:url(../images/tab1_selected_left.png);
}

.IE .tabBar .tab .rightBorder {
	display: inline-block;
	height: 22px;
	padding-right: 15px;
	background-repeat: no-repeat;
	background-position: right top;
	background-image:url(../images/tab2_inactive_right.png);
}

.IE .firstLevelTabBar .tab .rightBorder {
	background-image:url(../images/tab1_inactive_right.png);
}

.IE .tabBar .tab:hover .rightBorder {
	background-image:url(../images/tab2_hover_right.png);
}

.IE .firstLevelTabBar .tab:hover .rightBorder {
	background-image:url(../images/tab1_hover_right.png);
}

.IE .tabBar .activeTab .rightBorder {
	display: inline-block;
	height: 23px;
	padding-right: 15px;
	background-repeat: no-repeat;
	background-position: right top;
	background-image:url(../images/tab2_selected_right.png);
}

.IE .firstLevelTabBar .activeTab .rightBorder {
	background-image:url(../images/tab1_selected_right.png);
}

.IE .tabBar .textContainer {
	position: relative;
	top: 6px;
}

.mainTabBar .tab, .mainTabBar .activeTab {
	display: inline-block;
	position: relative;
	padding: 8px 10px 10px;
	font-weight: bold;
	color: #000;
}

.tabBar .tab {
	color: var(--TAB_TEXT);
	background: var(--TABBAR_TAB_BACKGROUND);
	padding: var(--TABBAR_TAB_PADDING);	
	border: var(--TABBAR_TAB_BORDER);
	border-bottom: var(--TABBAR_TAB_BORDER_BOTTOM);
}

.tabBar .tab:hover {
	color: var(--TABBAR_TAB_HOVER_COLOR);
	background: var(--TABBAR_TAB_HOVER_BACKGROUND);
	padding: var(--TABBAR_TAB_HOVER_PADDING);
	border: var(--TABBAR_TAB_HOVER_BORDER);
	border-bottom: var(--TABBAR_TAB_HOVER_BORDER_BOTTOM);
}

.tabBar .activeTab {
	color: var(--TABBAR_TAB_ACTIVE_COLOR);
	background: var(--TABBAR_TAB_ACTIVE_BACKGROUND);
	padding: var(--TABBAR_TAB_ACTIVE_PADDING);
	border: var(--TABBAR_TAB_ACTIVE_BORDER);
	border-bottom: var(--TABBAR_TAB_ACTIVE_BORDER_BOTTOM);
}

.firstLevelTabBar .tab {
	color: var(--TABBAR_L1_TAB_COLOR);
	background: var(--TABBAR_L1_TAB_BACKGROUND);
	padding: var(--TABBAR_L1_TAB_PADDING);	
	border: var(--TABBAR_L1_TAB_BORDER);
	border-bottom: var(--TABBAR_L1_TAB_BORDER_BOTTOM);
}

.firstLevelTabBar .tab:hover {
	color: var(--TABBAR_L1_TAB_HOVER_COLOR);
	background: var(--TABBAR_L1_TAB_HOVER_BACKGROUND);
	padding: var(--TABBAR_L1_TAB_HOVER_PADDING);
	border: var(--TABBAR_L1_TAB_HOVER_BORDER);
	border-bottom: var(--TABBAR_L1_TAB_HOVER_BORDER_BOTTOM);
}

.firstLevelTabBar .activeTab {
	color: var(--TABBAR_L1_TAB_ACTIVE_COLOR);
	background: var(--TABBAR_L1_TAB_ACTIVE_BACKGROUND);
	padding: var(--TABBAR_L1_TAB_ACTIVE_PADDING);
	border: var(--TABBAR_L1_TAB_ACTIVE_BORDER);
	border-bottom: var(--TABBAR_L1_TAB_ACTIVE_BORDER_BOTTOM);
}

.tabBar .tab, .tabBar .activeTab, .tabBar .tab:hover {
	display: inline-block;
	position: relative;
	border-radius: var(--TABBAR_TAB_BORDERRADIUS);
	font-size: 10px;
	font-family: var(--TEXT_FAMILY);
	font-weight: bold;
	margin: var(--TABBAR_TAB_ACTIVE_MARGIN);
}

.mainTabBar .tab:hover {
    padding-left: 8px;
    padding-right: 8px;
	border-left: 2px solid #9bb0d1;
    border-right: 2px solid #9bb0d1;
}

.mainTabBar .activeTab {
	background: #94ACCE;
	border: 0;
}

.scrollLeftButton, .scrollRightButton,
.cmdButtonsDialogOpener i {
	margin-left: 5px;
	margin-right: 5px;
	color: var(--TABBAR_SCROLL_BUTTON_COLOR);
}

.scrollLeftButton .fas, .scrollRightButton .fas,
.cmdButtonsDialogOpener i {
	font-size: 22px;
} 

.scrollLeftButton.inactive, .scrollRightButton.inactive,
.cmdButtonsDialogOpener.inactive i {
	color: var(--TABBAR_SCROLL_BUTTON_DISABLED_COLOR);
}

.containerScrollLeftButton:hover .scrollLeftButton, 
.containerScrollRightButton:hover .scrollRightButton,
.cmdButtonsDialogOpener:hover i {
	color: var(--TABBAR_SCROLL_BUTTON_HOVER_COLOR);
}

.containerScrollRightButton, .containerScrollLeftButton {
	margin-top: 2px;
	position: relative;
	display: none;
	cursor: pointer;
}

.containerScrollRightButton {
	margin-top: 0;
}

.mainTabBar .containerScrollRightButton, .mainTabBar .containerScrollLeftButton {
	margin-top: 4px;
}

.containerScrollLeftButton {
	float: left;
}

.containerScrollRightButton {
	float: right;
}

.additionalRightContent {
	/* padding-right is currently necessary: In IE10 and Edge there is a bug in computation of the
	 * position of the burger menu button. If it is the rightmost element in the additional content, the
	 * X position is 1px to large. This causes the browser to introduce a line break in the command
	 * label of the popup dialog. */
	padding-right: 1px;
 	margin-right: 1px;
}

.mainTabBar .additionalRightContent span {
 	margin-top: 4px;
}

.tabBar .additionalRightContent {
	float: right;
}

.rightContent {
	float: right;
}
