<div id="{id}" 
	class="cCollapsible {collapsed ? (horizontal ? 'cCollapsibleCollapsed cCollapsibleHorizontal' : 'cCollapsibleCollapsed')} {cssClass}"
	data-collapsed="{collapsed}" 
	data-layout="{layout}" data-collapsed-size="{collapsedSize}" data-layout-size="{layoutSize}"
>
	<div class="cCollapsibleHeader"
		data-layout-size="{!collapsed ? toolbarLayoutSize}"
	>
		<div class="cCollapsibleTitle">{title}</div>
		
		<div class="cCollapsibleToolbar">
			<tl:if test="!collapsed">{toolbar}</tl:if>
			
			<span class="cCollapsibleButtons" tl:if="showCollapse or showMaximize or showPopOut">
				<tl:if test="showCollapse">{collapseButton}</tl:if>
				<tl:if test="showMaximize">{maximizeButton}</tl:if>
				<tl:if test="showPopOut">{popOutButton}</tl:if>
			</span>
		</div>
	</div>
	<tl:if test="!collapsed">{child}</tl:if>
</div>