.BreadCrumbOuter,
.BreadCrumbOuter .Left,
.BreadCrumbOuter .Right,
.breadcrumb .selectableNode,
.sidebarFilterEntry,
.ToolBarContainer,
.TitleTop,
.rf_groupCell .rf_header,
.firstLevelTabBar,
.mainTabBar,
.firstLevelTabBar .tab,
.tabBar .tab,
.mdtp__time_holder,
.sblLogo,

.fChoose.input-image,
.fChoose.input-image:hover,
.fChoose.input-image.disabled
.breadcrumb .selectableNode,
.breadcrumb .treeNode:hover .selectableNode,
.fChoose.input-image.disabled,
.Footer,
.Footer .FooterStatus,

div.fptTitle,
div.ToolContainer div.IconContainer .input-image,
div.ToolContainer div.IconContainer .input-image.disabled,
div.ToolContainer div.IconContainer .input-image:hover,
div.cCollapsibleHeader,
div.cCollapsibleHorizontal div.cCollapsibleHeader,
div.tblMandatory .tl-table__title,

div.pdlgTitleBar,
div.dlgTitleBar,

div.layoutHorizontalAdjustmentGrabber,
div.layoutVerticalAdjustmentGrabber,

div.cCollapsibleToolbar .input-image,
div.cCollapsibleToolbar .input-image:hover,
div.cCollapsibleToolbar .input-image.disabled,

div.ToolContainer div.IconContainer .input-image.pushed,
div.ToolContainer div.IconContainer .input-image.disabled,
div.folderView .breadcrumb .treeNode a.selectableNode,

div.accSelected a.accEntry,
div.accRoot,

div.fltContainer td.fhrRight,
div.fltContainer td.fhrLeft,

.tl-table__title-toolbar .input-image,
.tl-table__title-toolbar .input-image.disabled,

th.tl-table__cell,
th.cal_th,
.tl-table__title,
th.treeTableTh,

td.fhrMiddle,
td.fhrLeft,
td.fhrRight,

input.tblRowSelector:focus,

span.dlgToolbar .input-image,
span.cmdLink .input-image,
span.cImageButton .input-image,
.cDownload .input-image,
span.cOpenCalendar .input-image,
span.cTimeInput .input-image,
span.cPopupSelect .input-image,
span.cTextSelect .input-image,
span.cImageLinkButton .input-image,

span.dlgToolbar .input-image:hover,
span.cmdLink .input-image:hover,
span.cImageButton .input-image:hover,
.cDownload .input-image:hover,
span.cOpenCalendar .input-image:hover,
span.cTimeInput .input-image:hover,
span.cPopupSelect .input-image:hover,
span.cTextSelect .input-image:hover,
span.cImageLinkButton .input-image:hover,
span.cmdLinkDisabled .input-image:hover,

span.dlgToolbar .input-image.disabled,
span.cmdLink .input-image.disabled,
span.cImageButton .input-image.disabled,
.cDownload .input-image.disabled,
span.cOpenCalendar .input-image.disabled,
span.cTimeInput .input-image.disabled,
span.cPopupSelect .input-image.disabled,
span.cTextSelect .input-image.disabled,
span.cImageLinkButton .input-image.disabled,
span.cBlockTextInput .input-image.disabled,
.cDownload .input-image.disabled,
span.cImageLinkButton .input-image.disabled,
span.cmdLinkDisabled .input-image.disabled,

span.pdlgToolbar .input-image,
span.pdlgToolbar .input-image.disabled,
span.cIntegerInput .input-image,
span.cIntegerInput .input-image.disabled,
span.cExpandableTextInput .input-image,
span.cExpandableTextInput .input-image.disabled,
span.cBlockTextInput .input-image,
.cDownload .input-image,
span.cmdLinkDisabled .input-image,

a.accEntry:hover
{
    background-image: none;
}

input[type="image"]
{
    background-repeat: no-repeat;
	background-position: 1% 46%;
}

div.containerScrollRightButton,
div.containerScrollLeftButton
{
    background-repeat: no-repeat;
    background-size: cover;
}

div.fltContainer span.frmGroupTitleText,
div.fltContainer span.frmGroupExpand
{
    background: initial;
}

span.quickSearch:active,
.mtbGroup > li > span.cButton
/* .mtbGroup > li > span.cButton > input.disabled */
{
    background: none;
}
