.BreadCrumbOuter,
.BreadCrumbOuter .Left,
.BreadCrumbOuter .Right,
.firstLevelTabBar .tab,
.tabBar .tab,
.tabBar .tab:hover,

.breadcrumb .selectableNode,
.breadcrumb .treeNode:hover .selectableNode,

.rf_hr.visible,

td.cmdButton,
a.cmdButton,
a.cmdButtonDisabled,
a.cmdButtonDisabled:link,
a.cmdButtonDisabled:visited,
a.cmdButtonDisabled:active,
a.cmdButtonDisabled:hover,

select:not( [multiple="multiple"] )
{
    border: none;
}

div.containerScrollRightButton > span.scrollRightButton,
div.containerScrollLeftButton > span.scrollLeftButton
{
    border-left: none;
}

[data-type*="group"] > .field {
    border: none;
}