div.pdlgWindow,
span.active.mandatory > span.lFlexible > select.tl-select:not( [multiple="multiple"] ),
span.active > span.lFlexible > select.tl-select:focus:not( [multiple="multiple"] ),
fieldset
{
    border-color: var(--LAYOUT_MAIN_COLOR);
}

.cFormEditorElement[data-type="separator"] .field {
	border-bottom: unset;
}

/* can not get rid of the double border in bottom due to responsive design */
/*
div.rf_groupCell > .rf_content > div:last-child
{
    border-bottom: none;
}
*/

.rf_hr.visible
{
    border-top: 1px solid var(--TL-iron);
    height: 1px;
    border-bottom: 1px solid var(--TL-iron);
}

select.tl-select:not( [multiple="multiple"] )
{
    border: 1px solid var(--border-subtle);
}

.scrollRightButton,
.scrollLeftButton
{
    border-left: 10px solid var(--LAYOUT_MAIN_COLOR);
}

.ColorChooser,
.cIconChooser .input-image,
.searchIrrelevant input:not(.input-image):not(.fltButton):not([type="image"]),
.searchIrrelevant textarea,
.searchIrrelevant select.tl-select:not( [multiple="multiple"] ),
input:not(.input-image):not(.fltButton):not(#quickSearch-input):not(.is-upload):not( [type="image"] ),
textarea,
table.gridTable td,
select.tl-select
{
    border: 1px solid var(--TL-iron);
}

.searchIrrelevant.error input:not(.input-image):not(.fltButton):not([type="image"]),
.searchIrrelevant.error textarea,
.searchIrrelevant.error select.tl-select:not( [multiple="multiple"] ),
.error input:not(.input-image):not(.fltButton):not(#quickSearch-input):not(.is-upload):not( [type="image"] )
{
	outline: var(--ERROR_OUTLINE);
	border: var(--ERROR_BORDER);
}

.searchIrrelevant.warning input:not(.input-image):not(.fltButton):not([type="image"]),
.searchIrrelevant.warning textarea,
.searchIrrelevant.warning select.tl-select:not( [multiple="multiple"] ),
.warning input:not(.input-image):not(.fltButton):not(#quickSearch-input):not(.is-upload):not( [type="image"] ),
.warning textarea,
.warning select.tl-select,
.warning .ace_editor
{
	outline: var(--WARNING_OUTLINE);
	border: var(--WARNING_BORDER);
}

.error input
{
    border: inherit;
}

.error input.is-input { border: 2px solid var(--TL-cerise); }

span.mandatory:not(.error) > span > input:not(.input-image):not(.fltButton):not(#quickSearch-input):not(.is-upload):not([type="image"]),
span.mandatory:not(.error) > span.lFlexible > select.tl-select:not( [multiple="multiple"] ),
.rf_header select.tl-select,
.mandatory:not(.error) select.tl-select
{
    border: 1px solid var(--LAYOUT_MAIN_COLOR);
}


.tabBar .tab,
.tabBar .activeTab,
.tabBar .tab:hover
{
    border-bottom: 0px solid var(--LAYOUT_MAIN_COLOR);
}

.sblAccordion
{
    border-top: 1px solid var(--LAYOUT_MAIN_COLOR);
}

.fltContent .rf_groupCell
{
    border-left: 1px solid var(--LAYOUT_MAIN_COLOR);
    border-bottom: 1px solid var(--LAYOUT_MAIN_COLOR);
}

iframe
{
    border: none;
}
