.mainTabBar .activeTab,
.tabBar .activeTab,
.tabBarBaseLine,
.activeGalleryManagementButton,
.sidebarFilterEntry,
.rf_groupCell .rf_header,
.fChoose.input-image,
.progressCellFilled,
.mdtp__time_holder,
.fltContent .rf_groupCell .rf_header,

div.ToolContainer div.IconContainer .cmdLinkActive .input-image,
div.pdlgTitleBar,
div.dlgTitleBar,
div.tblMandatory .tl-table__title,
div.fptTitle,
div.cCollapsibleHorizontal div.cCollapsibleHeader,
div.dlgBorder,
div.cCollapsibleToolbar .input-image,
div.cal_titlebar,
div.ToolContainer div.IconContainer .input-image.pushed,
div.fltContainer span.frmGroupTitleText,
div.fltContainer span.frmGroupExpand,
div.fptTitle,

.tl-table__title,
th.treeTableTh,

td.fhrMiddle,
td.fhrLeft,
td.fhrRight,
td.cmdButton,

a.cmdButton,
a.cmdButton:link,
a.cmdButton:visited,
a.cmdButton:active,

ul.mtbGroup >li > span.pushed > input.pushed,
span.dlgToolbar .input-image,
span.cmdLink .input-image,
span.cImageButton .input-image,
.cDownload .input-image,
span.cOpenCalendar .input-image,
span.cTimeInput .input-image,
span.cPopupSelect .input-image,
span.cTextSelect .input-image,
span.cImageLinkButton .input-image,
fieldset legend
{
    background-color: var(--LAYOUT_MAIN_COLOR);
}

.ToolBarContainer,
.TitleTop,
.firstLevelTabBar,
div.ToolContainer div.IconContainer .input-image,
div.accSelected a.accEntry
{
    background-color: var(--TL-white-grey);
}

.mainTabBar,
.tabBar .tab:hover,
.mainTabBar .tab:hover,
table.popupMenu > tbody > tr.menuEntryHover,
div.ToolContainer div.IconContainer .input-image:not(.disabled):hover,
div.fptSubtitle,
td.treeTableTdFirst,
div.accRoot,
span.cmdLink > input[src*='search_simple']:hover,
a.accEntry:hover
{
    background-color: rgba(var(--TL-iron-rgb), 0.5);
}

.BreadCrumbOuter,
.firstLevelTabBar .tab,
.tabBar .tab,
.searchIrrelevant input,
.searchIrrelevant textarea,
.searchIrrelevant select,

.Footer,
.Footer .FooterStatus,

div.cCollapsibleHeader,
span.disabled > span > input:not(.input-image):not(.fltButton):not(#quickSearch-input):not(.is-upload):not([type="image"])
{
    background-color: var(--TL-iron);
}

.fChoose.input-image:hover,
.cIconChooser .fptBodyContent .displayedIcons:hover,

div.cCollapsibleToolbar .input-image:hover,
div.fltButtons a.cmdButtonHover,

th.tl-table__cell,

span.dlgToolbar .input-image:hover,
span.cmdLink .input-image:hover,
span.cImageButton .input-image:hover,
.cDownload .input-image:hover,
span.cOpenCalendar .input-image:hover,
span.cTimeInput .input-image:hover,
span.cPopupSelect .input-image:hover,
span.cTextSelect .input-image:hover,
span.cImageLinkButton .input-image:hover,

a.cmdButtonHover,
a.cmdButtonHover:link,
a.cmdButtonHover:visited,
a.cmdButtonHover:active

{
    background-color: var(--TL-atoll);
}


.fChoose.input-image.disabled,
.cIconChooser .fptBodyContent .displayedIcons,

div.folderView .breadcrumb .hover .treeNode a.selectableNode,
div.cCollapsibleToolbar .input-image.disabled,
div.layoutHorizontalAdjustmentGrabber,
div.layoutVerticalAdjustmentGrabber,
div.IconContainer > ul > li > ul.mtbGroup > li > span.cmdLinkDisabled > input.disabled[src*="Disabled"],

span.active > span > input:not(.input-image):not(.fltButton):not(#quickSearch-input):not(.is-upload):not([type="image"]):not([type="text"]),
span.searchIrrelevant > span > input[type="text"]
{
    background-color: var(--TL-bright);
}

/* backgorund color for disabled buttons */
.cmdLinkDisabled,
a.cmdButtonDisabled,
a.cmdButtonDisabled:link,
a.cmdButtonDisabled:visited,
a.cmdButtonDisabled:active,
span.dlgToolbar .input-image.disabled,
span.cmdLink .input-image.disabled,
span.cImageButton .input-image.disabled,
.cDownload .input-image.disabled,
span.cOpenCalendar .input-image.disabled,
span.cTimeInput .input-image.disabled,
span.cPopupSelect .input-image.disabled,
span.cTextSelect .input-image.disabled,
span.cImageLinkButton .input-image.disabled,
span.cBlockTextInput .input-image.disabled,
.cDownload .input-image.disabled,
span.cImageLinkButton .input-image.disabled,
span.cmdLinkDisabled .input-image.disabled
{
    background-color: var(--TL-bg-disabled);
}

div.fltScrollBox,
div.fltContainer,
.sblLogo,
input.is-upload[name="input"]
{
    background-color: var(--TL-white-grey);
}

body,
input[type="image"]:not(.input-image):not(.fltButton),
span.cmdLink > input[src*='search_simple']
{
    background-color: rgba(255, 255, 255, 0.0);
}

.dfToolbar span.cButton .input-image {
	background: none;
}

.cDataItem label.cmdButton {
	background: var(--BUTTON_BACKGROUND);	
}

.cDataItem label.cmdButton:hover {
	background: var(--BUTTON_BACKGROUND_HOVER);	
}