table.colorDisplay
{
    line-height: 12px;
}

.ColorChooser,
td.tblSortButton
{
    width: var(--ICON_SIZE_NORMAL);
}

div.fptTitleContent, div.fptTitle input.is-input, div.fptTitle select.is-input
{
    font-size: 22px;
}
