div.fptSubtitleContent
{
    padding-top: 2px;
    line-height: 20px;
}

div.fptSubtitleContent > span > span > select.tl-select:not([multiple="multiple"]),
div.rf_cell > span > span.lFlexible > select.tl-select:not([multiple="multiple"])
{
    padding: 0 1.9em 0 0.2em;
}

div.frmBody > .fltForm > div.fltScrollBox > div.fltArea > div.fltContainer > .fltContent {
    padding-top: 0;
}

div.fltButtons,
div.fptBodyContent
{
    padding: 0;
}

.cIconChooser .fptBodyContent
{
    padding: 10px;
}

div.fltList > div
{
    padding: 0 4px;
}

div.cCollapsibleToolbar
{
	display: flex; /* to keep the icons in one line */
    padding: 0 6px 0 0;
}

.rightContent {
	padding-right: 4px;
}

div.HEADER
{
    padding: 5px 4px;
}

.mainTabBar .tab,
.mainTabBar .tab:hover,
.mainTabBar .activeTab
{
    padding: 0.4em 0.8em 0.8em 0.8em;
}

.tl-table__title-label,
tr.header > th > div > div.tblCellInnerSpacer
{
    margin-left: 8px;
}

.tabBar .tab,
.tabBar .activeTab,
.tabBar .tab:hover
{
    padding: 1px 15px;
}


.breadcrumb .selectableNode,
a.cmdButton,
a.cmdButtonDisabled,
a.cmdButtonDisabled:link,
a.cmdButtonDisabled:visited,
a.cmdButtonDisabled:active
{
    padding: 0.21em 0.7em 0.3em 0.1em;
}

.Header
{
    padding: 0 0.8em;
}

div.fltCommandContent
{
    padding-top: 4px;
}

div.rf_inputCell
{
    padding: 0 0.4em;
    box-sizing: border-box;
}

td.tl-table__cell .tblCellInnerSpacer
{
    margin: 3px 2px;
}

.progressCellFilled,
td.tl-table_cell:nth-child(2) .tblCellInnerSpacer
{
    margin: 3px 4px;
}

.tl-table__header-cell-content .adjustableColumn > span
{
    padding-left: 8px;
}

.cImageButton a.input-image i
{
    font-size: 14px;
    padding: 2px 4px;
    line-height: 17px;
}


/* textarea handling margin and padding */

.ColorChooser,
.searchIrrelevant input:not(.input-image):not(.fltButton):not( [type="image"] ),
.searchIrrelevant textarea,
.searchIrrelevant select.tl-select:not( [multiple="multiple"] ),
input:not(.input-image):not(.fltButton):not(#quickSearch-input):not( [type="image"] ):not(#icon-search-input):not(#icon-input-input):not(name*='pageInput.cpi'),
textarea:not(.is-input),
.rf_inputCell textarea.is-input,
select.tl-select:not( [multiple="multiple"] )
{
    padding: 2px 8px 4px 8px;
}

.tl-table__footer-pager > span.cTextInput > .lFlexible > input.is-input,
.tl-table__footer-pager > span.cDropdownSelect > .lFlexible > select.tl-select:not([multiple="multiple"]) {
    font-size: 12px;
    line-height: 17px;
    padding: 1px 16px 1px 8px;
    margin: 1px 4px;
}

.tl-table__footer-pager > span.cTextInput > .lFlexible > input.is-input {
    padding-right: 8px;
}

.tl-table__footer-pager > span.cDropdownSelect > .lFlexible > select.tl-select:not([multiple="multiple"]) {
    padding-right: 16px;
}

.tblFrozen.tblFlex > tbody > tr > td > div > div.tblCellInnerSpacer
{
    margin: 3px 2px;
}

.tblFrozen.tblFlex > tbody > tr > td > div > div.tblCellInnerSpacer > input.tblRowSelected
{
    margin-top: 3px;
}