/*
  CSS for TL DOC.
*/

.tlTranslatedI18nField .cke_editable {
	height: 90%; /* TODO #25919: Find a better solution. */
}

.structuredTextFullHeight .tlTranslatedI18nField {
	height: 100%;
}

.languageSelect {
	float: right;
}

.tlDocCreateDialog {
	margin: 0 var(--spacing-03);
}


.tlDocCreateDialog .rf_cell {
    margin-bottom: var(--spacing-03);
}

div.tlDocSearchContainer {
	display: table;
	width: 100%;
	margin-top: 4px;
}