.error input.is-input, 
.error-annotation input.is-input, 
.error input.is-popup, 
.error-annotation input.is-popup, 
.error input.is-upload, 
.error-annotation input.is-upload, 
.error button.ColorChooser,
.error-annotation button.ColorChooser,
.error.active input.tristate,
.error-annotation.active input.tristate,
.error.active input.is-checkbox,
.error-annotation.active input.is-checkbox,
.error.active input.is-radio,
.error-annotation.active input.is-radio,
.error.active.cBeacon, /* AND selector --> .error AND .cBeacon */
.error-annotation.active.cBeacon, /* AND selector --> .error-annotation AND .cBeacon */
.error.cDataItem iframe, /* AND selector --> .error AND .cDataItem */
.error-annotation.cDataItem iframe, /* AND selector --> .error-annotation AND .cDataItem */
.error select, 
.error-annotation select, 
.error textarea,
.error-annotation textarea,
.error .ace_editor,
.error-annotation .ace_editor {
	outline: var(--ERROR_OUTLINE);
	border: var(--ERROR_BORDER);
}

.popupEditField .error .ace_editor {
	border: var(--ERROR_BORDER);
}

.error .ace_editor textarea,
.error-annotation .ace_editor textarea { 
	border: initial; 
}

/* These browsers do not support outline of radio boxes */
.IE8 .error.active input.is-radio,
.IE8 .error-annotation.active input.is-radio,
.IE9 .error.active input.is-radio,
.IE9 .error-annotation.active input.is-radio,
.IE10 .error.active input.is-radio,
.IE10 .error-annotation.active input.is-radio {
	border: 2px red solid;
}

input.error,
input.error-annotation {
	outline: var(--ERROR_OUTLINE);
}

span.is-error, .is-error li {
	color: red;
}

span.is-error .error,
span.is-error .error-annotation,
span.is-error .warning,
span.is-error .warning-annotation {
	margin-left: 2px;
}

.warning input.is-input, 
.warning-annotation input.is-input, 
.warning input.is-popup,
.warning-annotation input.is-popup,
.warning input.is-upload,
.warning-annotation input.is-upload,
.warning button.ColorChooser,
.warning-annotation button.ColorChooser,
.warning.active input.tristate,
.warning-annotation.active input.tristate,
.warning.active input.is-checkbox,
.warning-annotation.active input.is-checkbox,
.warning.active input.is-radio,
.warning-annotation.active input.is-radio,
.warning.active.cBeacon, /* AND selector --> .error AND .cBeacon */
.warning-annotation.active.cBeacon, /* AND selector --> .error AND .cBeacon */
.warning.cDataItem iframe, /* AND selector --> .error AND .cDataItem */ 
.warning-annotation.cDataItem iframe, /* AND selector --> .error AND .cDataItem */ 
.warning select, 
.warning-annotation select, 
.warning textarea,
.warning-annotation textarea,
.warning .ace_editor,
.warning-annotation .ace_editor {
	outline: var(--WARNING_OUTLINE);
	border: var(--WARNING_BORDER);
}

.warning .ace_editor textarea, 
.warning-annotation .ace_editor textarea { 
	border: initial; 
}

/* These browsers do not support outline of radio boxes */
.IE8 .warning.active input.is-radio,
.IE8 .warning-annotation.active input.is-radio,
.IE9 .warning.active input.is-radio,
.IE9 .warning-annotation.active input.is-radio,
.IE10 .warning.active input.is-radio,
.IE10 .warning-annotation.active input.is-radio {
	border: 2px orange solid;
}

input.warning,
input.warning-annotation {
	outline: var(--WARNING_OUTLINE);
	border: var(--WARNING_BORDER);
}

.is-tooltip {
	display: none;
}

.config {
    display: none;
}

span.accesskey {
	text-decoration: underline;
}

fieldset.collapsed {
	padding-bottom: 0;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

fieldset.collapsed div.is-group-content {
	display: none;
}

.is-group-collapse {
	position: relative;
	bottom: -3px;
}

/**
 * Prevent complex controls that consist of multiple fields and buttons
 * form breaking into several lines.
 */
span.can-edit {
	white-space: pre;
}

/*
 * Functional styles. No configuration!
 */

.invisible {
	display: none;
}

.can-edit .is-display {
	display: none;
}

.cannot-edit .is-input {
	display: none;
}

.cannot-edit .is-input,
.cannot-edit .is-upload
 {
	display: none;
}

.disabled .is-action {
	display: none;
}

.cannot-edit .is-action {
	display: none;
}

input.is-action,
a.is-action {
	margin-left: 2px;
}

/*.is-onerror*/.no-error .is-error {
	display: none;
}

.dragImage ul {
	list-style-type: none;	
}