@font-face {
	font-family: "Inter-Regular";
	src: url("../themes/default/fonts/Inter-Regular.otf") format("otf"),
		 url("../themes/default/fonts/Inter-Regular.woff") format("woff"),
		 url("../themes/default/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Inter-SemiBold";
	src: url("../themes/default/fonts/Inter-SemiBold.otf") format("otf"),
		 url("../themes/default/fonts/Inter-SemiBold.woff") format("woff"),
		 url("../themes/default/fonts/Inter-SemiBold.ttf") format("truetype");
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Inter-Regular';
	font-size: .875rem;
	line-height: 1.125rem;
	letter-spacing: .15px;
	outline: none;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-image: url(../images/login/login-background.jpg);
	background-size: cover;
	background-position: center;
}


form {
	margin: 0 auto;
	position: relative;
	padding: calc(20vh - 75px) 0 0 0;
	max-width: 26rem;
}

div {
	position: relative;
}

input, label {
	display: inline-block;
	margin-bottom: .5rem;
	width: 100%;
}

label {
	color: #676b72;
	margin-top: .5rem;
}

input[type="text"],
input[type="password"] {
	color: #101113;
	background-color: #f0f1f2;
	border-color: #c4c7cc;
	padding: 0 1rem;
	height: 2rem;
	border: none;
	box-sizing: border-box;
	max-width: 100%;
	white-space: break-spaces;
	word-wrap: break-word;
	word-break: break-word;
}

input[type="text"]:focus,
input[type="password"]:focus {
	box-shadow: inset 0px 0px 0px 2px #2968c8,inset 0px 0px 0px 3px #ffffff;
	outline: none;
}

input[type="text"]:-webkit-autofill {
	color: #101113;
	background-color: #f0f1f2;
	border-color: #c4c7cc;
	padding: 0 1rem;
	height: 2rem;
	border: none;
	box-sizing: border-box;
	max-width: 100%;
	white-space: break-spaces;
	word-wrap: break-word;
	word-break: break-word;
}

input[type="submit"] {
	font-family: 'Inter-SemiBold';
	font-size: .875rem;
	line-height: 1.125rem;
	letter-spacing: .15px;
	height: 2.3rem; /* 36.8px height */
	padding: .5rem 1rem;
	border-radius: .25rem;
	background: #2968c8;
	box-shadow: inset 0px 0px 0px 1px #2968c8;
	color: #ffffff;
	cursor: pointer;
	border: none;
	margin-top: 1rem;
}

input[type="submit"]:hover {
	background: #245db2;
	box-shadow: inset 0px 0px 0px 1px #245db2;
}

input[type="submit"]:focus {
	box-shadow: inset 0px 0px 0px 2px #2968C8, inset 0px 0px 0px 3px #ffffff;
}

.disabled, input[type="submit"][disabled] {
	color: #878d96;
	box-shadow: inset 0px 0px 0px 1px #e1e2e5;
}

div.container {
	position:relative;
	background: #ffffff;
	padding: 1rem 1.5rem;
	border-radius: 0.25rem;
	border: 1px solid #c4c7cc;
}

.logodiv {
	max-width: 80%;
	margin: .6rem auto .6rem auto;
}

/* mobile first */
.logo img {
	width: 64px;
	height: 64px;
	max-width: 18.75rem;
	margin-bottom: .75rem; 
}

.logo {
	display: inline-block;
}

@media only screen and (min-width: 340px){
	.logo img {
		width: 300px;
		height: auto;
		max-height: 68px;
	}
}

.messageField, .messageContainer, .logodiv {
	text-align: center;
}

.messageField, .messageContainer {
	color: #D3181B;
	font-style: italic;
	padding: 0.25rem 0;
	min-height: 2rem;
}

.tlLink {
	margin-bottom: 1rem;
	font-family: 'Inter-Regular';
	font-size: .75rem;
	line-height: 1rem;
	letter-spacing: .15px;
	text-align: center;
}

.tlLink a, .tlLink a:link {
	color: #2968c8;
	text-decoration: none;
	cursor: pointer;
}

.tlLink a:hover {
	color: #245db2;
	text-decoration: underline;
}

.tlLink a:active {
	color: #101113;
	text-decoration: underline;
}

.tlLink a:focus {
    color: #245db2;
}

img.hidden {
	display:none;
}