<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true"
>
    <listener>
         <listener-class>com.top_logic.element.ElementStartStop</listener-class>
    </listener>

    <jsp-config>
        <!-- Top-Logic basic tag library descriptor -->
        <taglib>
            <taglib-uri>basic</taglib-uri>
            <taglib-location>/WEB-INF/tlds/basic.tld</taglib-location>
        </taglib>
    
        <!-- layout tag library descriptor -->
        <taglib>
            <taglib-uri>layout</taglib-uri>
            <taglib-location>/WEB-INF/tlds/layout.tld</taglib-location>
        </taglib>
    
        <taglib>
            <taglib-uri>ajaxform</taglib-uri>
            <taglib-location>/WEB-INF/tlds/ajax-form.tld</taglib-location>
        </taglib>
    
        <!-- Util Tag Library Descriptor -->
        <taglib>
            <taglib-uri>util</taglib-uri>
            <taglib-location>/WEB-INF/tlds/util.tld</taglib-location>
        </taglib>
    
	    <taglib>
	        <taglib-uri>meta</taglib-uri>
	        <taglib-location>/WEB-INF/tlds/meta.tld</taglib-location>
	    </taglib>
    </jsp-config>

</web-app>
