
/*
   Default font properties that the layout algorithm can rely on, if not explicitly specified at diagram level.

   Note: Values defined in CSS take precedence. Therefore, a selector must only 
   apply, when not explicitly set at element level. When an explicit CSS attribute
   is specified, it is likely that this is used to select an icon font. Therefore, 
   the default setting must not apply also, since the selector is now more specific
   than that of the icon font.
*/
text:not([font-family]):not([class]) {font-family: Arial }
text:not([font-size]):not([class]) {font-size: 14px; }

g.tlbA path.tlbShape {stroke: #265699; fill: #4C97FF; }
g.tlbA path.tlbBorder {stroke: #6897d9; fill: none; }
g.tlbB path.tlbShape {stroke: #996711; fill: #FFAB19; }
g.tlbB path.tlbBorder {stroke: #e0b05e; fill: none; }
g.tlbC path.tlbShape {stroke: #2f792f; fill: #59C059; } 
g.tlbC path.tlbBorder {stroke: #63ad63; fill: none; } 
g.tlbInput rect {fill: white; } 
g.tlbInput text {fill: black; } 
g.tlbSelect {cursor: pointer; } 
g.tlbSelect rect {fill: #00000000; stroke: white; } 
g.tlbSelect:hover rect {fill: #FFFFFF30; } 
g.tlbSelect text {fill: white; } 
g.tlbSelect path {fill: white; stroke: none; } 
g.tlbLabel text {fill: white; } 

g.tlbSelected > path.tlbBorder {
	stroke: none;
}

path.tlbConnector {
	fill: none;
}

g.tlbSelected > path.tlbShape, 
path.tlbConnector {
	stroke-width: 3;
	stroke: #ffe635; 
}

.tlSelectionMarker {
	display: none;
}

.tlSelected .tlSelectionMarker {
	display: initial;
}

.tlClickTarget {
	cursor: pointer;
	stroke: var(--link-primary);
}

.tlDiagram {
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform-origin: top left;
}

.tlDiagram > svg {
	cursor: default;
}

.zoomDisplay {
	position: absolute;
	top: 0;
	right: 0;
	padding: 8px;
	background-color: #3338;
	border-bottom-left-radius: 8px;
	color: white;
}
