div.values {
	border-style: solid;
	border-width: medium;
	border-color: silver;
	padding: 3ex;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 20px;
}

h1 {
	text-align: center;
}

input {
	width: 100%;
}

div.error {
	color: red;
	font-weight: bold;
}