.rf_groupCell .rf_header,
.dfEntryTitle.colored {
    height: 1.75rem;
}

.rf_groupCell {
    margin-top: var(--spacing-03);
}

.tl-table__footer-pager,
.tl-table__footer-counter {
	height: 1.75rem;
}

.cDateInput input {
    width: 6rem;
}

.cTimeInput input {
    width: 3.5rem;
}

.quickSearch .cTextInput input {
	height: 2rem;
}

.BreadCrumbOuter {
	font-family: var(--font-family);
    font-size: var(--body-01-font-size);
    letter-spacing: var(--body-01-letter-spacing);
}

.Header .breadcrumbNodeIcon > img:first-of-type {
    height: var(--body-01-line-height);
}

.cMenuButton {
    line-height: var(--body-02-line-height);
    display: table-row;
}

.cMenuButton i {
    font-size: var(--body-02-font-size);
}

.menuEntryCell:first-child, .menuEntryCell img.menuEntryImage {
    width: var(--body-02-font-size);
}

.accIcon i {
    font-size: var(--body-02-font-size);
}

div.accNode a.accEntry, a.accEntry, a.accEntry:link, a.accEntry:visited, a.accEntry:active {
    padding: var(--spacing-02) var(--spacing-04);
}

.rf_inputCell:not(.keepInline):not(.rf_noLabel) {
	grid-gap: unset;
}
