/*
****							****
****	ButtonComponent styles	****
****							****
*/
.cmdButtonsDialogOpener {
    position: absolute;
    top: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
}

.tlButtonScrollContainer {
 	display: flex;
 	justify-content: flex-end;
}

.tlButtonScrollContainer .tlButton {
  margin-right: 0.5rem;
}

.buttonSpaceHolder {
  	width: 10000px;
  	padding-left: 12px;
  	padding-right: 12px;
}

.cmdButtonsDialogOpener.visible {
  display: block;
}

/*
****					****
****	Button styles	****
****					****
*/

.containerButton .cButton.cmdButton,
.containerButton .cButton.cmdButtonDisabled,
.tlButtonScrollContainer .tlDropdownButton {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	gap: var(--spacing-02);
	height: 1.3rem;
	padding: var(--spacing-02) var(--spacing-03);
	border-radius: .25rem;
}

.cButton.bcPopup {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	gap: .5rem;
	height: 1.5rem;
	padding: var(--spacing-02) var(--spacing-03);
	border-radius: .25rem;
}

.tlButtonLabel {
	font-weight: 600;
}

.tlButton {
	background: transparent;
	box-shadow: inset 0px 0px 0px 1px var(--button-secondary);
}

.tlButton .tlButtonLabel {
	color: var(--text-interactive);
}

.tlButton .cmdImg {
	color: var(--icon-interactive);
}

.tlButton:hover {
	background: var(--button-secondary-hover);
	box-shadow: inset 0px 0px 0px 1px var(--button-secondary-hover);
}

.tlButton:hover .tlButtonLabel {
	color: var(--text-on-color);
}

.tlButton:hover .cmdImg {
	color: var(--icon-on-color);
}

.tlButton:focus {
	box-shadow: inset 0px 0px 0px 1px var(--focus),inset 0px 0px 0px 2px var(--focus-inset);
	background: var(--button-secondary-hover);
}

.tlButton:focus .tlButtonLabel {
	color: var(--text-on-color);
}

.tlButton:focus .cmdImg {
	color: var(--icon-on-color);
}

.tlButton:active {
	background: var(--button-secondary-active);
	box-shadow: inset 0px 0px 0px 1px var(--focus),inset 0px 0px 0px 2px var(--focus-inset);
}

.tlButton:active .tlButtonLabel {
	color: var(--text-on-color);
}

.tlButton:active .cmdImg {
	color: var(--icon-on-color);
}

.tlButton.cmdButtonDisabled {
	background: none;
	box-shadow: inset 0px 0px 0px 1px var(--button-disabled);
}

.tlButton.cmdButtonDisabled:focus {
	box-shadow: inset 0px 0px 0px 1px var(--button-disabled);
}

.tlButton.cmdButtonDisabled .tlButtonLabel {
	color: var(--text-disabled);
}

.tlButton.cmdButtonDisabled .cmdImg {
	color: var(--icon-disabled);
}

.tlButton.tlPrimaryButton {
	background: var(--button-primary);
	box-shadow: inset 0px 0px 0px 1px var(--button-primary);
}

.tlButton.tlPrimaryButton .tlButtonLabel {
	color: var(--text-on-color);
}

.tlButton.tlPrimaryButton .cmdImg {
	color: var(--icon-on-color);
}

.tlButton.tlPrimaryButton:hover {
	background: var(--button-primary-hover);
	box-shadow: inset 0px 0px 0px 1px var(--button-primary-hover);
}

.tlButton.tlPrimaryButton:focus {
	box-shadow: inset 0px 0px 0px 1px var(--focus),inset 0px 0px 0px 2px var(--focus-inset);
}

.tlButton.tlPrimaryButton:active {
	background: var(--button-primary-active);
}

.tlButton.tlPrimaryButton.cmdButtonDisabled {
	background: var(--button-disabled);
	box-shadow: inset 0px 0px 0px 1px var(--button-disabled);
}

.tlButton.tlPrimaryButton.cmdButtonDisabled .tlButtonLabel {
	color: var(--text-on-color-disabled);
}

.tlButton.tlPrimaryButton.cmdButtonDisabled .cmdImg {
	color: var(--icon-on-color-disabled);
}

.tlButton.tlGhostButton {
	background: transparent;
	box-shadow: inset 0px 0px 0px 1px var(--focus-inset);
}

.tlButton.tlGhostButton .tlButtonLabel {
	color: var(--link-primary);
}

.tlButton.tlGhostButton .cmdImg {
	color: var(--link-primary);
}

.tlButton.tlGhostButton:hover {
	background: var(--layer-hover);
	box-shadow: inset 0px 0px 0px 1px var(--layer-hover);
}

.tlButton.tlGhostButton:hover .tlButtonLabel {
	color: var(--link-primary-hover);
}

.tlButton.tlGhostButton:hover .cmdImg {
	color: var(--link-primary-hover);
}

.tlButton.tlGhostButton:focus {
	box-shadow: inset 0px 0px 0px 1px var(--focus),inset 0px 0px 0px 2px var(--focus-inset);
	background: transparent;
}

.tlButton.tlGhostButton:active {
	background: var(--background-active);
	box-shadow: inset 0px 0px 0px 1px var(--focus),inset 0px 0px 0px 2px var(--focus-inset);
}

.tlButton.tlGhostButton.cmdButtonDisabled {
	background: transparent;
	box-shadow: none;
}

.tlButton.tlGhostButton.cmdButtonDisabled .tlButtonLabel {
	color: var(--text-disabled);
}

.tlButton.tlGhostButton.cmdButtonDisabled .cmdImg {
	color: var(--icon-disabled);
}

.tlButton.tlDangerButtonPrimary {
	box-shadow: inset 0px 0px 0px 1px var(--button-danger);
	background: var(--button-danger);
}

.tlButton.tlDangerButtonPrimary .tlButtonLabel {
	color: var(--text-on-color);
}

.tlButton.tlDangerButtonPrimary .cmdImg {
	color: var(--icon-on-color);
}

.tlButton.tlDangerButtonPrimary:hover {
	background: var(--button-danger-hover);
	box-shadow: inset 0px 0px 0px 1px var(--button-danger-hover);
}

.tlButton.tlDangerButtonPrimary:focus {
	box-shadow: inset 0px 0px 0px 1px var(--focus),inset 0px 0px 0px 2px var(--focus-inset);
}

.tlButton.tlDangerButtonPrimary:active {
	background: var(--button-danger-active);
	box-shadow: inset 0px 0px 0px 1px var(--focus),inset 0px 0px 0px 2px var(--focus-inset);
}

.tlButton.tlDangerButtonPrimary.cmdButtonDisabled {
	background: var(--button-disabled);
	box-shadow: inset 0px 0px 0px 1px var(--button-disabled);
}

.tlButton.tlDangerButtonPrimary.cmdButtonDisabled:focus {
	box-shadow: none;
}

.tlButton.tlDangerButtonPrimary.cmdButtonDisabled .tlButtonLabel {
	color: var(--text-on-color-disabled);
}

.tlButton.tlDangerButtonPrimary.cmdButtonDisabled .cmdImg {
	color: var(--icon-on-color-disabled);
}

.tlButton.tlDangerButtonSecondary {
	background: transparent;
	box-shadow: inset 0px 0px 0px 1px var(--button-danger);
	border: none;
}

.tlButton.tlDangerButtonSecondary .tlButtonLabel {
	color: var(--button-danger);
}

.tlButton.tlDangerButtonSecondary .cmdImg {
	color: var(--button-danger);
}

.tlButton.tlDangerButtonSecondary:hover {
	background: var(--button-danger-hover);
	box-shadow: inset 0px 0px 0px 1px var(--button-danger-hover);
}

.tlButton.tlDangerButtonSecondary:hover .tlButtonLabel {
	color: var(--text-on-color);
}

.tlButton.tlDangerButtonSecondary:hover .cmdImg {
	color: var(--icon-on-color);
}

.tlButton.tlDangerButtonSecondary:focus {
	box-shadow: inset 0px 0px 0px 1px var(--focus),inset 0px 0px 0px 2px var(--focus-inset);
}

.tlButton.tlDangerButtonSecondary:active {
	background: var(--button-danger-active);
	box-shadow: inset 0px 0px 0px 1px var(--focus),inset 0px 0px 0px 2px var(--focus-inset);
}

.tlButton.tlDangerButtonSecondary:active .tlButtonLabel {
	color: var(--text-on-color);
}

.tlButton.tlDangerButtonSecondary:active .cmdImg {
	color: var(--icon-on-color);
}

.tlButton.tlDangerButtonSecondary.cmdButtonDisabled {
	background: none;
	box-shadow: inset 0px 0px 0px 1px var(--button-disabled);
}

.tlButton.tlDangerButtonSecondary.cmdButtonDisabled .tlButtonLabel {
	color: var(--text-disabled);
}

.tlButton.tlDangerButtonSecondary.cmdButtonDisabled .cmdImg {
	color: var(--icon-disabled);
}

/*
****						****
****	Dropdown styles		****
****						****
*/
.tlDropdown {
	position: relative;
	align-self: center;
	flex-shrink: 0;
	display: none;
}

.tlButtonScrollContainer .tlDropdown {
  	margin-right: 10px;
}

.tlDropdownContent {
  	display: none;
  	position: absolute;
	right: .5rem;
  	background-color: #fff;
  	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.32);
}

.tlButtonScrollContainer .tlDropdownContent {
  	bottom: 100%;
}

.tlDropdownContent a {
  	display: flex;
  	flex-direction: row-reverse;
  	justify-content: flex-end;
  	align-items: center;
	padding: 0 var(--spacing-03);
}

.tlDropdownContent a .tlButtonLabel {
	font-family: 'Inter-Regular';
  	font-size: .875rem;
  	font-weight: 400;
	color: var(--text-secondary);
	flex-shrink: 0;
}

.tlDropdownContent a .cmdImg {
	color: var(--icon-secondary);
	padding-right: var(--spacing-02);
}

.tlInDropdown:not(:first-child) {
	border-top: 1px solid var(--border-subtle);
}

.tlDropdownContent a:hover {
  	background: var(--layer-hover);
}

.tlDropdownContent a:hover .tlButtonLabel {
  	color: var(--icon-primary);
}

.tlDropdownContent a:hover .cmdImg {
  	color: var(--icon-primary);
}

.tlDropdownContent a:focus {
	box-shadow: inset 0px 0px 0px 2px var(--focus);
}