/* Style-sheet for the TopLogic core theme. */
:focus-visible {
    outline: -webkit-focus-ring-color auto 0;
}

body {
	font-family: var(--font-family-regular);
	font-size: var(--body-02-font-size);
	line-height: var(--body-02-line-height);
	letter-spacing: var(--body-02-letter-spacing);
	outline: none;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: var(--background);
	color: var(--text-primary);
}

/* Scrollbars > */
::-webkit-scrollbar {
	width: var(--sb-size);
	height: var(--sb-size);
	background: transparent;
}

@property --sb-track-transition {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --sb-thumb-transition {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

.lcAuto, .lcScroll, .tl-overflow--auto {
	--sb-track-transition: transparent;
	--sb-thumb-transition: transparent;
	transition-property: --sb-track-transition, --sb-thumb-transition;
	transition-duration: .5s;
	transition-delay: 1s;
}

:is(.lcAuto, .lcScroll, .tl-overflow--auto):hover {
	--sb-track-transition: var(--sb-track-color);
	--sb-thumb-transition: var(--sb-thumb-color);
	transition: --sb-track-transition, --sb-thumb-transition;
}

:is(.lcAuto, .lcScroll, .tl-overflow--auto)::-webkit-scrollbar-track {
	background: var(--sb-track-transition);
	border-radius: 4px;
}

:is(.lcAuto, .lcScroll, .tl-overflow--auto)::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-transition);
	border-radius: 4px;
}

:hover::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 4px;
}

:hover::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color)
						var(--sb-track-color);
	}
}
/* < Scrollbars */

code {
	font-family: monospace, monospace;
	font-size: var(--body-02-font-size);
	line-height: var(--body-02-line-height);
	letter-spacing: var(--body-02-letter-spacing);
}

h5 {
	font-family: var(--font-family-bold);
	font-size: var(--heading-compact-01-font-size);
	line-height: var(--heading-compact-01-line-height);
	letter-spacing: var(--heading-compact-01-letter-spacing);
}

h4 {
	font-family: var(--font-family-bold);
	font-size: var(--heading-compact-02-font-size);
	line-height: var(--heading-compact-02-line-height);
	letter-spacing: var(--heading-compact-02-letter-spacing);
}

h3 {
	font-family: var(--font-family-bold);
	font-size: var(--heading-03-font-size);
	line-height: var(--heading-03-line-height);
	letter-spacing: var(--heading-03-letter-spacing);
}

h2 {
	font-family: var(--font-family-bold);
	font-size: var(--heading-04-font-size);
	line-height: var(--heading-04-line-height);
	letter-spacing: var(--heading-04-letter-spacing);
}

h1 {
	font-family: var(--font-family-bold);
	font-size: var(--heading-05-font-size);
	line-height: var(--heading-05-line-height);
	letter-spacing: var(--heading-05-letter-spacing);
}

/* Text highlight color */
::selection {
	background: var(--text-highlight);
	color: var(--text-on-color);
}

.structuredTextFullHeight {
    padding: 0 var(--spacing-03);
}

.noSelection {
	position: relative; 
	top: 40%; 
	text-align: center
}

i.red,
.tl-error-message {
	color: var(--support-danger);
}

i.green,
.tl-success-message {
	color: var(--support-success);
}

i.yellow,
.tl-warning-message {
	color: var(--support-warning);
}

a img.type-image {
    vertical-align: middle;
}

/* Overlay styles are needed as long as the old icons with an overlay are not removed completely */
i[class*=" overlay-"] span::before {
	margin-left: -0.8em;
	color: var(--background);
}

.overlay-add span::before {
	content: "\e9cf";
	margin-left: -1em;
}

.layoutVerticalAdjustmentGrabber {
    cursor: n-resize;
    background: var(--background);
}

.layoutHorizontalAdjustmentGrabber {
  	cursor: e-resize;
  	background: var(--background);
}

.fflCollapsed {
	cursor: default;
}

/* The general footer of the application */
.Footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--spacing-02);
	font-size: var(--body-01-font-size);
    line-height: var(--body-01-line-height);
    letter-spacing: var(--body-01-letter-spacing);
	color: var(--text-secondary);
	background: var(--layer);
	padding: 0 var(--spacing-03) 0 var(--spacing-01)
}

/*
****					****
****	Anchor syles	****
****					****
*/
a {
	color: var(--link-primary);
}

a, a:link {
	cursor: pointer;
	text-decoration: none;
}

a:not(.disabled):hover {
	color: var(--link-primary-hover);
	text-decoration: underline;
}

a:not(.disabled):active {
	color: var(--text-primary);
	text-decoration: underline;
}

a:not(.disabled):focus {
    color: var(--link-primary-hover);
	outline: 1px solid var(--focus);
	outline-offset: 2px;
}

a:visited, a.gotoLink:visited,
a.cmdLink:visited {
    /* color: var(--link-primary); */
}

.cmdLinkDisabled {
    text-decoration: none;
    cursor: default;
    color: var(--text-disabled);
}

/*
****					****
****	Popup Styles	****
****					****
*/
.pdlgWindow, .dlgWindow ,.dlgBackground, #pdlgPopupDialogPane, #waitPane, #pdlgPopupDialogs {
	/*
	 * Popup dialogs has to be stacked upon the current view. Because the table header has z-index 1, 
	 * the popup dialogs should have at least z-index 2 to be stacked upon table headers.
	 *
	 * z-index kann only be set on positioned elements.
	 *
	 * This cause not a problem for nesting (popup)-dialogs, because setting a z-index
	 * sets the stack level of this element in the current stacking context. It also
	 * establishes a local stacking context. This means that the z-indexes of descendants are not compared 
	 * to the z-indexes of elements outside this element.
	 *
	 * Details: https://developer.mozilla.org/en-US/docs/Web/CSS/z-index
	 */
	z-index: 5;
}

#pdlgPopupDialogs {
	position: relative;
}

.pdlgPopupDialogPane_visible {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	background-color: var(--background);
  	opacity: 0;
  	cursor: wait;
}

.pdlgWindow {
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-style: none;
	overflow: hidden;
	box-shadow: var(--shadow-menu);
}

.pdlgContent {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: var(--background);
}

.pdlgTitleBar {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	height: var(--POPUP_TITLE_HEIGHT);
	padding-left: 2px;
	background-color: var(--layer-accent);
}

.pdlgToolbar {
	display: flex;
	align-self: center;
	cursor: pointer;
}

.pdlgToolbar > span {
	display: flex;
	align-self: center;
	gap: var(--spacing-02);
	margin-right: var(--spacing-02);
}

.pdlgToolbar a {
	color: var(--icon-primary);
}

.pdlgToolbar a:hover {
	color: var(--icon-primary);
}

.pdlgTitle {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 3px;
	align-self: center;
}

.menuTitle {
	position: relative;
	display: flex;
	height: var(--POPUP_TITLE_HEIGHT);
	padding-left: 2px;
	background-color: var(--layer-accent);
}

.menuTitleContents {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 3px;
	align-self: center;
}

.cTextPopupEditor {
	margin: 0 var(--spacing-02);
}

.cTextPopupEditor .cTextInput .lFlexible textarea {
	height: 3rem;
	margin-top: var(--spacing-02);
}

.fltGlobalContainer {
	width: 100%;
	height: 100%;
	background: var(--layer);
	overflow: auto;
}

.fltGlobalContainer input,
.fltGlobalContainer .cTextInput input {
	background: var(--background);
}

.fltGlobalContainer .cTextInput input {
	margin-bottom: var(--spacing-03);
}

div.fltHeader {
	margin: 3px;
	font-weight: bold;
}

.fltSettings {
	position: relative;
	overflow: auto;
	max-width: 100%;
	padding: 0 var(--spacing-03);
}

.fltCommandContent {
	text-align: center;
	box-sizing: border-box;
	padding: var(--spacing-03) var(--spacing-01) var(--spacing-02) var(--spacing-01);
}

.fltMenu {
	position: relative;
	overflow: hidden;
}

.fltSubContent {
	margin: 0px;
	overflow: auto;
	padding-top: var(--spacing-02);
}

hr {
	border-top: 1px solid var(--border-subtle);
	margin: var(--spacing-03) 0;
}

.sidebarFilterContainer .fToggle,
.sidebarFilterContainer .fToggle:focus,
.sidebarFilterContainer .fToggle:hover {
	color: var(--icon-primary);
}

.sidebarFilterContainer .fltSubContent {
	margin: 0px;
	overflow: auto;
	padding: var(--spacing-03) var(--spacing-03);
}

.sidebarFilterContainer .fltSubContent.fltMenu {
	margin: 0px;
	overflow: auto;
	padding: 0 var(--spacing-03);
}

.sidebarFilterContainer input,
.sidebarFilterContainer .cTextInput input,
.sidebarFilterContainer .cDateInput input,
.sidebarFilterContainer .cDateInput .lFixedRight,
.sidebarFilterContainer .cTimeInput input,
.sidebarFilterContainer .cTimeInput .lFixedRight,
.sidebarFilterContainer .ddwttDropBtn {
	background: var(--background);
}

.sidebarFilterContainer .cTextInput input {
	margin-bottom: var(--spacing-03);
}

ul.fltList {
	list-style-type : none;
	margin: 3px;
	padding: 0px;
}

div.fltList {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.fltList > div {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-02);
}

.fltList span {
	margin-left: 0 !important;
}

.fltList div .cLabel {
	padding-left: 0;
}

.fltList .cLabel {
	padding: 0 var(--spacing-02);
}

.filterBox {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--spacing-01);
	margin: var(--spacing-01) 0;
}

.operatorBox {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
}


.patternBox {
	display: inline-flex;
	align-items: center;
	flex-direction: column;
}

.patternBoxExpanded {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--spacing-03);
}

.firstPattern, 
.secondPattern, 
.pushDownForeground, 
.pushDownBackground, 
.pullUpForeground, 
.pullUpBackground {
	display: inline-flex;
	align-items: center;
	gap: var(--spacing-01);
}

.pushDownForeground, 
.pushDownBackground, 
.pullUpForeground, 
.pullUpBackground {
	animation-duration: 0.3s;
	animation-direction: reverse;
}

.pushDownForeground {
	animation-name: reversePushDownForeground;
}

.pushDownBackground {
	animation-name: reversePushDownBackground;
}

.pullUpForeground {
	animation-name: reversePullUpForeground;
}

.pullUpBackground {
	animation-name: reversePullUpBackground;
}

@keyframes reversePushDownForeground {
    0%   {z-index: 1;}
    50%  {z-index: 3; transform: scale(1.1)}
    100% {z-index: 1; top: 0; left: 0}
}

@keyframes reversePushDownBackground {
    50%  {transform: scale(0.9)}
    100% {top: 0; left: 0}
}

@keyframes reversePullUpForeground {
    0%   {z-index: 1;}
    50%  {z-index: 3; transform: scale(1.1)}
    100% {z-index: 1; top: 25px; left: 0}
}

@keyframes reversePullUpBackground {
    50%  {transform: scale(0.9)}
    100% {top: 25px; left: 0}
}

.filterGroupTitle {
	margin: 2px 2px 5px;
	font-weight: bold;
}

.defaultFilterContainer {
	margin-top: var(--spacing-02);
}

.defaultFilterContainer .cPopupSelect,
.defaultFilterContainer .cTextSelect,
.defaultFilterContainer .cExpandableTextInput,
.defaultFilterContainer .cTextInput,
.defaultFilterContainer .cDatetime,
.defaultFilterContainer .cDateInput,
.defaultFilterContainer .cIntegerInput,
.defaultFilterContainer .cTimeInput {
	width: 100%;
	white-space: break-spaces;
	word-wrap: break-word;
	word-break: break-word;
}

.defaultFilterContainer .cDatetime {
	flex-wrap: wrap;
}

.defaultFilterContainer .cDatetime input {
	width: 65px;
}

.defaultFilterContainer .cDateInput input {
	width: 100px;
}

.defaultFilterContainer input,
.defaultFilterContainer .cTextInput input,
.defaultFilterContainer .cDateInput input,
.defaultFilterContainer .cDateInput .lFixedRight,
.defaultFilterContainer .cTimeInput input,
.defaultFilterContainer .cTimeInput .lFixedRight,
.defaultFilterContainer .ddwttDropBtn {
	background: var(--background);
}

.defaultFilterContainer .lFlexible > input {
	box-sizing: border-box;
}

.defaultFilterContainer span.cError img {
	position: absolute;
	top: 0;
	right: 0;
}

.sidebarFilterContainer .checkboxMultiSelectContainer {
	max-height: none;
}

.sidebarFilterEntry.collapsibleFilterEntry {
    display: flex;
    align-items: center;
    gap: var(--spacing-01);
    background: var(--layer-accent);
    padding: 0 var(--spacing-03);
}

.sidebarFilterEntry.collapsibleFilterEntry {
	background: var(--layer-accent);
}

.sidebarFilterEntry.collapsibleFilterEntry:hover {
	background: var(--layer-hover);
}

.checkboxMultiSelectEntry {
	display: flex;
    gap: var(--spacing-02);
	cursor: default;
	margin: 0 0 var(--spacing-01) 0;
	padding: 0;
}

.checkboxMultiSelectNoEntries {
    font-family: var(--font-family-bold);
    font-size: var(--heading-compact-02-font-size);
    line-height: var(--heading-compact-02-line-height);
    letter-spacing: var(--heading-compact-02-letter-spacing);
    text-align: center;
    white-space: nowrap;
    margin-bottom: var(--spacing-03);
}

.popupMenu {
	border-collapse: collapse;
	width: 100%;
	display: table;
}

.popupMenu ~ .popupMenu {
	border-top: 1px solid var(--border-subtle);
}

.cMenuButton {
	line-height: 2em;
	display: table-row;
}

.cMenuButton i {
	padding-left: 1px;
	padding-right: 1px;
	font-size: 20px;
}

.menuEntryEnabled, .menuEntryDisabled {
	padding-top: 1px;
	padding-bottom: 1px;
}

.menuEntryCell:first-child, .menuEntryCell img.menuEntryImage {
	width: 27px;
}

.menuEntryCell {
	padding: 0.2em;
	white-space: nowrap;
	display: table-cell;
}

.menuEntryImage {
	vertical-align: middle;
}

.popupMenu a {
	color: var(--text-secondary);
	background-color: var(--layer);
}

.popupMenu a .menuEntryCell .menuEntryImage {
	color: var(--icon-secondary);
}

.popupMenu a:hover {
	color: var(--text-primary);
	text-decoration: none;
	background-color: var(--layer-hover);
}

.popupMenu a:hover .menuEntryCell .menuEntryImage {
	color: var(--icon-primary);
}

.popupMenu a:focus {
	color: var(--text-primary);
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
	outline: none;
}

.popupMenu a:active {
	color: var(--text-primary);
	text-decoration: none;
}

a.cMenuButton.menuEntryDisabled {
	color: var(--text-on-color-disabled);
	cursor: default;
}

a.cMenuButton.menuEntryDisabled i {
	color: var(--icon-on-color-disabled);
}

a.cMenuButton.menuEntryDisabled:hover {
	color: var(--text-on-color-disabled);
	background: var(--layer);
}

a.cMenuButton.menuEntryDisabled:hover i {
	color: var(--icon-on-color-disabled);
	background: var(--layer);
}

a.cMenuButton.menuEntryDisabled:focus {
	box-shadow: none;
}

.popupMenu a.tlInApp {
	background-color: var(--debug);
}

.popupMenu a.tlInApp:hover {
	background-color: var(--debug-hover);
}

.popupMenu a.tlInApp.menuEntryDisabled {
	background-color: var(--debug-disabled);
	cursor: default;
}

.popupMenu a.tlInApp.menuEntryDisabled:hover,
.popupMenu a.tlInApp.menuEntryDisabled:hover i {
	background-color: var(--debug-disabled);
}

/* ============================================= */
/* ====== Styles for AJAX command handling ===== */
/* ============================================= */

#waitPane {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#waitPane {
	visibility: hidden;
}

#waitPane.waiting {
	visibility: visible;
}

/* Dialog Window Styles */
#dlgDialogs {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
}

#dlgDialogs.dialogOpened {
	width: 100%;
	height: 100%;
}

#dlgDialogs.noDialogOpened {
	width: 0;
	height: 0;
}

.dlgDialog {
	visibility: hidden;
}

div.dlgWindow {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 600px;
	height: 400px;
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: var(--background);
	box-shadow: var(--shadow-menu);
}

div.dlgMaximized {
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

div.dlgMaximized .dlgBorder,
div.dlgMaximized .dlgResizeNW,
div.dlgMaximized .dlgResizeNE,
div.dlgMaximized .input-image.dlgMaximize {
	display: none;
}

div.dlgMaximized span.dlgTitle, div.dlgMaximized span.dlgToolbar {
	padding-left: 5px;
	padding-right: 3px;
}

.dlgToolbar .input-image.dlgRestore {
	display: none;
}

div.dlgMaximized .input-image.dlgRestore {
	display: inline-block;
}

.dlgBackground {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: var(--overlay);
}

.dlgTitleBar {
	position: absolute;
	display: flex;
	width: 100%;
	cursor: move;
	height: var(--DIALOG_TITLE_HEIGHT);
	background-color: var(--layer-accent);
	padding: 0 var(--spacing-01);
	box-sizing: border-box;
}

.dlgBorderNW.dlgResizeNW {
	order: 1;
}

.tlDlgToolbarContainer {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-self: center;
	flex-grow: 2;
	order: 2;
	overflow: hidden;
	padding: var(--spacing-02) var(--spacing-01);
}

.dlgTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;
	align-self: center;
}

.dlgToolbar {
	display: flex;
	align-self: center;
	gap: var(--spacing-02);
}

.dlgToolbar a,
.dlgToolbar a:hover {
	color: var(--icon-primary);
	box-shadow: none;
}

.dlgToolbar a:focus {
	color: var(--icon-primary);
}

.dlgBorderNE.dlgResizeNE {
	order: 3;
}

.tlDlgContent {
	display: flex;
	flex-direction: row;
	flex-grow: 2;
}

.dlgContent {
	display: flex;
	flex-grow: 2;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.dlgContent > div:first-child {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	justify-content: space-between;
}

.dlgBorderNW, .dlgBorderSW {
	float: left;
}

.dlgBorderNE, .dlgBorderSE {
	float: right;
}

.dlgBorderNW, .dlgBorderSW, .dlgBorderNE, .dlgBorderSE {
	width: var(--spacing-02);
	height: var(--spacing-02);

	/* For debugging:
	background-color: red;
	*/
}

.dlgResizeNW {
	cursor: nw-resize;
}
.dlgResizeNE {
	cursor: ne-resize;
}
.dlgResizeSW {
	cursor: sw-resize;
}
.dlgResizeSE {
	cursor: se-resize;
}
.dlgResizeW {
	cursor: w-resize;
	width: var(--spacing-02);
}
.dlgResizeE {
	cursor: e-resize;
	width: var(--spacing-02);
}
.dlgResizeS {
	cursor: s-resize;
	height: var(--spacing-02);
}

.dlgRightBorder {
	position: absolute;
	top: 0px;
	right: 0px;
}

.dlgLeftBorder {
	position: absolute;
	top: 0px;
	left: 0px;
}

.dlgBottomBorder {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: var(--DIALOG_BOTTOM_BORDER_HEIGHT);
	font-size: 1px
}

div.dlgMinimized {
	display: none;
}

iframe.dlgContent {
	width: 100%;
	height: 100%;
}

/*
 * Element covering the whole viewport. This is neccessary to capture all
 * mouse events even from frame and iframe regions.
 */
div.dlgCapture {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--layer);
	filter: alpha(opacity=0);
	opacity: 0;
}

/*
****						****
****	Selector Styles		****
****						****
*/
.updating {
	background: var(--overlay);
}

.tl-field-label span.can-edit {
	display: block;
}

div.selectbox {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: var(--background);
    border: 1px solid var(--border-strong);
}

div.selectbox ul {
	display: table;
	width: 100%;
    margin: 0;
    padding-left: 0;
}

div.cListControl li,
div.selectbox li,
div.selectbox .treeNode {
    cursor: pointer;
    white-space: nowrap;
}

div.selectbox li {
	display: table-row;
}

div.selectbox li > span,
div.selectbox li > a {
	padding: 0 var(--spacing-02);
}

div.cListControl li span,
div.cListControl li a,
div.selectbox li span,
div.selectbox li a {
	text-decoration: none;
}

div.cListControl li.selected,
div.cListControl .fixed,
div.selectbox li.selected,
div.selectbox .fixed,
div.selectbox .treeNode.treeSelected,
div.selectbox .treeNode.treeNodeReferencedSelected {
    cursor: default;
	text-decoration: none;
}

div.cListControl li.selected span,
div.cListControl li.selected a,
div.selectbox li.selected, 
div.selectbox li.selected span,
div.selectbox li.selected a,
div.selectbox .treeNode.treeSelected, 
div.selectbox .treeNode.treeSelected a,
div.selectbox .treeNode.treeSelected span {
	color: var(--text-primary);
	cursor: default;
	text-decoration: none;
}

div.cListControl li.selected span,
div.cListControl li.selected a,
div.selectbox li.selected, 
div.selectbox li.selected span,
div.selectbox li.selected a,
div.cListControl li.selected.fixedSelectable span,
div.cListControl li.selected.fixedSelectable a,
div.selectbox li.selected.fixedSelectable, 
div.selectbox li.selected.fixedSelectable span,
div.selectbox li.selected.fixedSelectable a,
div.selectbox .treeNode.treeNodeReferencedSelected {
    background-color: var(--layer-selected);
}

div.selectbox li.tableSeparator {
	font-size: 5px;
	background-color: #ccc;
}

div.selectbox li.tableSeparator.selected, 
div.selectbox li.tableSeparator.selected a {
	background-color: #666;
}

.selectbox .treeBody {
	height: 100%;
}

td.leftList {
    vertical-align: top;
    padding-right: var(--spacing-02);
}

td.rightList {
    vertical-align: top;
    padding-left: var(--spacing-02);
}

.fixed,
.fixedSelectable a:link {
    color: var(--text-disabled);
}

/* ====================================== */
/* ======    Styles for mega menu   ===== */
/* ====================================== */
.tl-mega-menu-button {
	display: inline-flex;
	gap: var(--spacing-02);
	justify-content: center;
	align-items: center;
	font-family: var(--font-family-regular);
	font-size: .875rem;
	font-weight: 400;
	color: var(--button-secondary);
	background: transparent;
	box-shadow: inset 0px 0px 0px 2px var(--button-secondary);
	height: 2.3rem; /* 36.8px height */
	padding: var(--spacing-02) var(--spacing-03);
	border-radius: .25rem;
	border: none;
	padding: var(--spacing-03) var(--spacing-02);
	cursor: pointer;
}

.tl-mega-menu-button:hover {
	color: var(--text-on-color);
	background: var(--button-secondary-hover);
	box-shadow: inset 0px 0px 0px 2px var(--button-secondary-hover);
}

.tl-mega-menu-button:focus {
	color: var(--text-on-color);
	background: var(--button-secondary-hover);
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
}

.tl-mega-menu-grid-container .tl-mega-menu-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	background: var(--layer);
}

.tl-mega-menu-flex-container .tl-mega-menu-container {
	display: flex;
	flex-direction: column;
	background: var(--layer);
}

.tl-mega-menu-grid-container,
.tl-mega-menu-flex-container {
	overflow-y: auto;
    max-height: 90vh;
    border-color: var(--border-subtle);
}

.tl-mega-menu-grid-container .pdlgContent,
.tl-mega-menu-flex-container .pdlgContent {
	overflow: hidden !important;
}

.tl-mega-menu__option,
.tl-mega-menu__option--fixed {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	padding: var(--spacing-02) var(--spacing-03);
}

.tl-mega-menu__option a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 0 var(--spacing-03);
	color: var(--text-secondary);
}

.tl-mega-menu__option:hover,
.tl-mega-menu__option:focus {
	background: var(--layer-hover);
    text-decoration: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.tl-mega-menu__option--selected {
    background-color: var(--layer-selected);
}

.tl-mega-menu__option-container {
	display: flex;
	gap: var(--spacing-02);
}

.tl-mega-menu__option-icon-container {
	display: flex;
	align-items: center;
}

.tl-mega-menu__option-icon {
	font-size: 1.3rem;
	color: var(--icon-secondary);
}

.tl-mega-menu__option:hover .tl-mega-menu__option-icon,
.tl-mega-menu__option:focus .tl-mega-menu__option-icon,
.tl-mega-menu__option--selected .tl-mega-menu__option-icon {
	color: var(--icon-primary);
}

.tl-mega-menu__option-text-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-01);
	color: var(--text-secondary)
}

.tl-mega-menu__option-label {
	font-family: var(--font-family-bold);
	font-size: var(--heading-02-font-size);
	line-height: var(--heading-02-line-height);
	letter-spacing: var(--heading-02-letter-spacing);
}

.tl-mega-menu__option-tooltip {
	font-family: var(--font-family-regular);
    font-size: .875rem;
    font-weight: 400;
}

.tl-mega-menu__option:hover .tl-mega-menu__option-text-container,
.tl-mega-menu__option:focus .tl-mega-menu__option-text-container,
.tl-mega-menu__option--selected .tl-mega-menu__option-text-container {
	color: var(--text-primary);
}

.tl-mega-menu__option--fixed {
	cursor: default;
}

.tl-mega-menu__option--fixed .tl-mega-menu__option-icon {
	color: var(--icon-disabled);
}

.tl-mega-menu__option--fixed .tl-mega-menu__option-text-container {
	color: var(--text-disabled);
}

.tl-mega-menu__option-icon--immutable {
	padding: 0 var(--spacing-02) 0 var(--spacing-03);
}

.tl-mega-menu__option-label--immutable {
	color: var(--text-primary);
	font-family: var(--font-family-regular);
    font-size: .875rem;
    font-weight: 400;
}

/*
****							****
****	Message Boxes Styles	****
****							****
*/
div.mboxImage img,
div.mboxImage i {
	margin-right: 5px; 
	margin-bottom: 5px;
}

div.mboxImage i {
	font-size: 32px; 
}

div.mboxImage {
	float: left; 
}

div.mboxContent {
	margin: 5px;
}

div.mboxHeader {
    font-weight: bold; 
    font-size: larger;
}

div.mboxMessage {
	margin-top: 5px;
}

div.mboxInput {
	margin-top: 5px;
	padding-left: 10px;
}

/*
****										****
****	simpleajax network error box (sx)	****
****										****
*/
div.sxError {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--text-primary);
	padding: var(--spacing-03) var(--spacing-04) var(--spacing-04);
	background: var(--notification-danger-background);
	border: 1px solid var(--support-danger);
	box-shadow: var(--shadow-menu);
	cursor: default;
}

div.sxMessage,
div.sxFailure {
	font-family: var(--font-family-bold);
	font-size: var(--heading-04-font-size);
	line-height: var(--heading-04-line-height);
	letter-spacing: var(--heading-04-letter-spacing);
	margin: var(--spacing-02);
}

div.sxButtons {
	font-family: var(--font-family-bold);
	font-size: var(--heading-compact-02-font-size);
	line-height: var(--heading-compact-02-line-height);
	letter-spacing: var(--heading-compact-02-letter-spacing);
	text-align: right;
	margin-top: var(--spacing-05);
}

div.sxFailure,
div.sxButtons,
div.sxRetry div.sxMessage {
	display: none;	
}

div.sxRetry div.sxFailure,
div.sxRetry div.sxButtons {
	display: block;
}

span.sxButton {
	color: var(--text-on-color);
	border: 1px solid var(--support-danger);
	cursor: pointer;
}

span.sxButton:hover {
	color: var(--text-on-color);
}

/*
****											****
****	layoutControl.cCollapsible styles (lc)	****
****											****
*/
div.lcViewport {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

div.lcAuto {
	overflow: auto;
}

div.lcScroll {
	overflow: scroll;
}

div.lcHidden {
	overflow: hidden;
}

/*
****					****
****	Tooltip Styles	****
****					****
*/
.tooltipCaption {
	color: var(--text-inverse);
	background-color: var(--background-inverse);
	padding: calc(var(--ttPadding) / 2) 12px;
	line-height: 1.5 !important;
}

.tooltip {
	max-width: 500px;
	max-height: calc(100vh - (var(--ttPadding) * 2));
	background-color: var(--background-inverse);
	position: fixed;
	filter: drop-shadow(var(--shadow-menu));
	z-index: 9999999999999999;
	--ttPadding: var(--spacing-02);
	font-weight: normal;
	cursor: default;
	display: flex;
	flex-direction: column;
	margin: 0 !important;
	padding: 0 !important;
}

/* Tooltip Arrow */
.tooltip::after {
	content: '';
	position: absolute;
	width: var(--ttArrow-dim);
	height: var(--ttArrow-dim);
	top: var(--ttArrow-top);
	transform: var(--ttArrow-trans);
	background-color: var(--background-inverse);
	--ttArrow-dim: 18px;
}

.ttVerticalArrowBottom::after {
	bottom: 2px;
	--ttArrow-trans: translate(0%, 50%);
	clip-path: polygon(0% 50%, 100% 50%, 50% 100%);
}

.ttVerticalArrowTop::after {
	top: 2px;
	--ttArrow-trans: translate(0%, -50%);
	clip-path: polygon(0% 50%, 100% 50%, 50% 0%);
}

.ttVerticalArrowLeft::after {
	left: calc(var(--ttArrow-dim) / 2);
}

.ttVerticalArrowRight::after {
	right: calc(var(--ttArrow-dim) / 2);
}

.ttHorizontalArrowLeft::after {
	left: 2px;
	--ttArrow-trans: translate(-50%, -50%);
	clip-path: polygon(50% 0%, 0% 50%, 50% 100%);
}

.ttHorizontalArrowRight::after {
	right: 2px;
	--ttArrow-trans: translate(50%, -50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
}

/* Tooltip Content */
.tooltipContent {
	overflow-y: auto;
	white-space: normal;
	overflow-wrap: break-word;
	padding: var(--ttPadding) 12px;
	line-height: 1.5 !important;
	color: var(--text-inverse);
	text-align: left;
	font-size: 12px;
	cursor: text;
}

.tooltipContent * {
	color: var(--text-inverse);
	line-height: 1.5 !important;
}

/*
****					****
****	Error Styles	****
****					****
*/
.errorFragmentContainer {
	cursor: default;
	padding: var(--spacing-01) var(--spacing-02);
	color: var(--support-danger);
	border: 1px solid var(--support-danger);
	background-color: var(--background);
	display: inline-block;
	align-self: center;
}

.errorFragmentImage {
	padding-right: var(--spacing-02);
}

.tl-info-service {
	position: absolute;
	top: var(--spacing-03);
	right: var(--spacing-03);
	width: 25rem;
	max-height: 100%;
	max-width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.tl-info-service-item__hide-info-service_animation {
	animation-name: hideInfoService;
	animation-duration: 1s;
}

.tl-info-service-item {
	position: relative;
	margin: var(--spacing-02) var(--spacing-01) 0 0;
	padding: 0 var(--spacing-03) var(--spacing-02) var(--spacing-03);
	border-radius: 10px;
	box-shadow: var(--shadow-menu);
	overflow-y: hidden;
	overflow-x: auto;
}

.tl-info-service-item.tl-info-service-item__error {
	background-color: var(--notification-danger-background);
}

.tl-info-service-item.tl-info-service-item__warning {
	background-color: var(--notification-warning-background);
}

.tl-info-service-item.tl-info-service-item__info {
	background-color: var(--notification-info-background);
}

.tl-info-service-item__error .tl-info-service-item__header-message span i:not(.tl-info-service-item__close-button i) {
	color: var(--support-danger);
}

.tl-info-service-item__warning .tl-info-service-item__header-message span i:not(.tl-info-service-item__close-button i) {
	color: var(--support-warning);
}

.tl-info-service-item__info .tl-info-service-item__header-message span i:not(.tl-info-service-item__close-button i) {
	color: var(--support-info);
}

.tl-info-service-item__header {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
	margin-top: var(--spacing-02);
}

.tl-info-service-item__header-message:not(.tl-info-service-item .tl-info-service-item__header .tl-info-service-item__header-message) {
	display: flex;
	flex-grow: 2;
	align-items: center;
	margin-top: var(--spacing-02);
}

.tl-info-service-item__header-message {
  	display: flex;
  	flex-grow: 2;
  	justify-content: space-between;
}

.tl-info-service-item__header-message span i {
  	display: flex;
  	align-items: center;
}

.tl-info-service-item__header-message-text {
	display: flex;
	flex-grow: 2;
	justify-content: space-between;
	padding-left: var(--spacing-02);
	line-break: anywhere;
}

.tl-info-service-item__header-type-message {
	font-family: var(--font-family-bold);
	font-size: var(--heading-compact-02-font-size);
	line-height: var(--heading-compact-02-line-height);
	letter-spacing: var(--heading-compact-02-letter-spacing);
	margin-left: var(--spacing-02);
}

.tl-info-service-item__header-message .tl-info-service-item__error-icon {
	display: block;
	align-self: center;
}

.tl-info-service-item__header-message .tl-info-service-item__error-icon span {
	display: inline-block
}

.tl-info-service-item__message p {
	margin: 0;
}

.tl-info-service-item__message {
	max-height: 400px;
	overflow-y: auto;
	word-break: break-word;
	margin: var(--spacing-02) 0;
}

.tl-info-service-item__log-time {
	color: var(--text-helper);
	padding-left: var(--spacing-02);
	white-space: nowrap;
}

.tl-info-service-item__details summary,
.tl-info-service-item__close-button {
	cursor: pointer;
}

.tl-info-service-item__close-button {
	padding-left: var(--spacing-03);
}

.tl-info-service-item__details {
	overflow-x: auto;
	margin-top: var(--spacing-03);
}

.tl-info-service-item__details-message {
	padding-top: var(--spacing-02);
}

p.tl-info-service-item__details-message-no-bottom {
	margin-bottom: 0px;
}

.infoServiceItem:last-child {
	margin-bottom: var(--spacing-01);
}

.tl-info-service-item__show-info_animation {
	animation-name: tl-info-service-item__show-info_animation;
	animation-duration: 0.2s;
}

.tl-info-service-item__show-pinned-info_animation {
	animation-name: tl-info-service-item__show-pinned-info_animation;
	animation-duration: 0.2s;
}

.tl-info-service_pinned .tl-info-service-item__hide-info_animation {
	animation-name: tl-info-service-item__hide-info_animation;
	animation-duration: 0.2s;
}

@keyframes tl-info-service-item__show-info_animation {
    0% {opacity: 0;}
    100% {opacity: 0.9; margin-top: 3px;}
}

@keyframes tl-info-service-item__show-pinned-info_animation {
    0% {opacity: 0;}
    100% {opacity: 1; margin-top: 3px;}
}

@keyframes tl-info-service-item__hide-info_animation {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes tl-info-service-item__hide-info-service_animation {
    from {opacity: 1;}
    to {opacity: 0;}
}

span.ltcCounting input {
	display: inline;
}

@keyframes showInfoServiceItem {
    0% {opacity: 0;}
    100% {opacity: 0.9; margin-top: 3px;}
}

@keyframes showPinnedInfoServiceItem {
    0% {opacity: 0;}
    100% {opacity: 1; margin-top: 3px;}
}

@keyframes hideInfoServiceItem {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes hideInfoService {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes pinnedInfoServiceItem {
    from {border-color: rgba(247, 223, 68, 0);}
    to {border-color: rgba(247, 223, 68, 1);}
}

@keyframes showInfoServiceItemDetailMessage {
    0% {height: 0;}
    100% {height: auto;}
}

@keyframes hideInfoServiceItemDetailMessage {
    0% {height: auto;}
    100% {height: 0;}
}

@keyframes rotatedInfoServiceItemDetailExpandButton {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(90deg);}
}

@keyframes regularInfoServiceItemDetailExpandButton {
    from {transform: rotateZ(90deg);}
    to {transform: rotateZ(0deg);}
}

/*
****					****
****	Tiles Styles	****
****					****
*/
.tileRow {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-03);
}

.tileContainer .tileNoCards {
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%);
	text-align: center;
	font-family: var(--font-family-bold);
	font-size: var(--heading-03-font-size);
	line-height: var(--heading-03-line-height);
	letter-spacing: var(--heading-03-letter-spacing);
}

.card {
	display: flex;
	flex-direction: column;
	background: var(--layer);
	border: 1px solid var(--border-subtle);
	margin: var(--spacing-02) 0;
	padding-bottom: var(--spacing-03);
	min-width: 0px;
	background-clip: border-box;
	border-radius: var(--corner-radius);
	height: 20rem;
	width: 16rem;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.card:active {
	background-color: var(--layer-active);
}

.card:active .previewBoxOuter {
	background-color: var(--background-active);
}

.card:active h5.card-title,
.card:active .card-text {
	background-color: var(--layer-active);
}

.card:hover {
	box-shadow: var(--shadow-menu);
}

.card .cButton {
	position: absolute;
	right: var(--spacing-03);
	top: calc(var(--body-02-line-height) - var(--spacing-02));
}

.previewBoxOuter {
	display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    overflow: hidden;
    background: var(--background);
}

.previewBoxOuter .previewBoxInner {
	position: relative;
}

.previewBoxOuter:not(.galleryPreview) .previewBoxInner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
}

span.card-img-top {
    height: 100%;
    width: 100%;
}

.previewBoxOuter .previewBoxInner img {
	width: 100%;
	height: 100%;
	background: transparent;
}

.previewBoxOuter .previewBoxInner img[src$=".svg"] {
	object-fit: contain;
}

.previewBoxOuter .previewBoxInner img:not([src$=".svg"]) {
	object-fit: cover;
}

.tileContainer .card-img-top {
    height: 100%;
    width: 100%;
}

.tileContainer .card-img-top i {
	font-size: 8rem;
}

.previewBoxOuter.galleryPreview .previewBoxInner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.previewBoxOuter.galleryPreview .previewBoxInner .cImageDisplay {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 100%;
    width: 100%;
}

.tileContainer .galleryPreview .previewBoxInner img {
    position: unset;
    transform: unset;
}

h5.card-title {
	order: 2;
	flex-shrink: 0;
	padding: var(--spacing-02) var(--spacing-03) 0 var(--spacing-03);
	background: var(--layer);
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

h5.card-title a {
	color: var(--text-primary);
	font-family: var(--font-family-bold);
	font-size: var(--heading-03-font-size);
	line-height: var(--heading-03-line-height);
	letter-spacing: var(--heading-03-letter-spacing);
}

h5.card-title a:hover {
	color: var(--text-primary);
	text-decoration: none;
}

h5.card-title a:focus {
	color: var(--text-primary);
	box-shadow: none;
}

.card-text {
	order: 3;
	color: var(--text-primary);
	font-family: var(--font-family-regular);
	font-size: var(--body-01-font-size);
	line-height: var(--body-01-line-height);
	letter-spacing: var(--body-01-letter-spacing);
	background: var(--layer);
	padding: 0 var(--spacing-03);
	margin: 0;
	overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

.card-text > *,
.card-text p {
	overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

.card-text p {
	margin: 0;
}

.tileContainer .circle-red,
.tileContainer .circle-blue {
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -12px;
    top: -12px;
    min-height: 24px;
	min-width: 24px;
    border-radius: 50%;
    color: var(--text-on-color);
    font-weight: 600;
    border: 4px solid var(--background);
    font-family: var(--font-family-bold);
    font-size: var(--body-01-font-size);
    line-height: var(--body-01-line-height);
    letter-spacing: var(--body-01-letter-spacing);
}

.tileContainer .circle-red {
    background-color: var(--support-danger);
}

.tileContainer .circle-blue {
    background-color: var(--background-brand);
}

/*
****						****
****	Breadcrumb syles	****
****						****
*/
.Header {
	display: flex;
	height: var(--MAIN_NAVIGATION_BREADCRUMB_HEADER_HEIGHT);
	overflow: hidden;
}

.BreadCrumbOuter {
    display: flex;
    align-self: flex-start;
    background: var(--layer);
    width: 100%;
    padding: var(--spacing-02) 0;
}

.BreadCrumbOuter .Left {
    flex-grow: 2;
    align-self: center;
    padding: 0 var(--spacing-02);
}

.breadCrumbRight {
    flex-grow: 1;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--spacing-02);
    padding: 0 var(--spacing-03);
	white-space: nowrap;
	text-overflow: ellipsis;
}

.breadcrumb {
	display: flex;
	padding: 0 var(--spacing-02);
}

.tl-table__title-label .breadcrumb {
	gap: 0;
	padding: 0;
}

.breadcrumbNodeText {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-right: var(--spacing-02);
}

.breadcrumb .unselectableNode :last-child, 
.breadcrumb .selectableNode :last-child {
	padding-right: 0;
}

.breadcrumb .treeNode,
.breadcrumb .treeNode .unselectableNode, 
.breadcrumb .treeNode .selectableNode {
	display: inline-flex;
	align-items: center;
}

.breadcrumb .treeNode .selectableNode .breadcrumbNodeText {
	color: var(--text-secondary);
}

.breadcrumb .treeSelected .selectableNode .breadcrumbNodeText {
	color: var(--text-primary);
}

.breadcrumb .treeSelected .selectableNode .breadcrumbNodeIcon {
	color: var(--icon-primary);
}

.breadcrumb .treeNode:not(.treeSelected) .selectableNode:hover .breadcrumbNodeText,
.breadcrumb .treeNode:not(.treeSelected) .selectableNode:hover .breadcrumbNodeIcon {
	color: var(--link-primary-hover);
	text-decoration: underline;
}

.breadcrumb .treeNode:not(.treeSelected) .selectableNode:active .breadcrumbNodeText {
    color: var(--text-primary);
	text-decoration: underline;
}

.breadcrumb .treeNode:not(.treeSelected) .selectableNode:active .breadcrumbNodeIcon {
    color: var(--icon-primary);
}

.breadcrumb .treeNode:not(.treeSelected) .selectableNode:focus {
    color: var(--link-primary-hover);
	outline-offset: -1px;
}

.breadcrumb .treeSelected .selectableNode:focus {
    text-decoration: none;
}

.breadcrumb .treeNode:not(.treeSelected) .selectableNode:focus .breadcrumbNodeText {
    color: var(--text-secondary);
}

.breadcrumb .treeNode:not(.treeSelected) .selectableNode:focus .breadcrumbNodeIcon {
    color: var(--icon-secondary);
}

.breadcrumb .treeSelected .selectableNode:focus {
	box-shadow: none;
	outline: none;
}

.breadcrumbNodeSeparator {
	padding: 0 var(--spacing-02);
}

.breadcrumbNodeSeparator i {
	color: var(--icon-secondary);
}

.breadcrumbNodeSeparator .fMenu i {
	color: var(--icon-secondary);
}

.breadcrumbNodeSeparator .fMenu:hover i {
	color: var(--icon-primary);
}

.breadcrumbNodeSeparator .fMenu:focus i {
	color: var(--icon-secondary);
}

.breadcrumbNodeSeparator .fMenu:focus {
	outline-offset: -1px;
}

/* Disable the anchor effects of the last (active) breadcrumb */
.breadcrumb > span .selectableNode:last-child:hover {
	text-decoration: none;
	cursor: default;
}

.breadcrumb > span .selectableNode:last-child:focus {
	box-shadow: none;
}

/* Disable the anchor effects of the last (active) breadcrumb */
.breadcrumb > span .selectableNode:last-child:hover {
	text-decoration: none;
	cursor: default;
}

.breadcrumb > span .selectableNode:last-child:focus {
	box-shadow: none;
}

.breadcrumbMenu {
	display: none;
}

.breadcrumbMenuVisible {
	background: var(--layer);
	border: 1px solid var(--border-subtle);
	z-index: 5;
}

.breadcrumbMenuVisible .breadcrumbMenuNode {
	cursor: pointer;
	padding: var(--spacing-02) var(--spacing-03);
}

.breadcrumbMenuVisible .breadcrumbNodeIcon i {
	color: var(--icon-secondary);
	padding-right: var(--spacing-02);
}

.breadcrumbMenuVisible .breadcrumbNodeText {
	color: var(--text-secondary);
}

.breadcrumbMenuVisible .breadcrumbMenuNode:hover {
	background: var(--layer-hover);
}

.breadcrumbMenuVisible .breadcrumbMenuNode:hover .breadcrumbNodeText {
	color: var(--text-primary);
}

.breadcrumbMenuVisible .breadcrumbMenuNode:hover .breadcrumbNodeIcon {
	color: var(--icon-primary);
}

/* Needs to be on active state because focus does not work on this div element. */
.breadcrumbMenuVisible .breadcrumbMenuNode:active {
	background: var(--layer-hover);
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
}

.breadcrumbNodeIcon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding-right: var(--spacing-02);
}

.Header .breadcrumbNodeIcon > img:first-of-type {
	height: var(--body-02-line-height);
    width: fit-content;
}

/*
****					****
****	Tree syles		****
****					****
*/
.treeBody {
	height: 100%;
	background-color: var(--layer);
	white-space: nowrap
}

.tcrNode {
	background-color: var(--layer)
}

.treeBody a:hover {
	text-decoration: none;
}

.tcrNode .treeNode {
    display: flex;
    align-items: center;
    gap: var(--spacing-02);
    height: 2rem;
    padding: 0 var(--spacing-02);
    position: relative;
}

.treeChildren {
	padding-left: var(--spacing-03);
}

.tcrLink {
	color: var(--text-secondary);
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.treeNode .fToggle,
.fToggle.tcrToggle, 
.tcrNode .treeNode span i,
.treeNode img,
.tcrNode .treeNode span img {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	/* 
	Is needed for consistency as long as there are backend rendered 
	toggle arrow pictures with width 15px. 
	*/
	width: 15px;
}

.treeNodeIcon {
	display: flex;
	align-items: center;
}

.treeNodeIcon:not(img),
.treeNode .fToggle,
.fToggle.tcrToggle {
    color: var(--icon-secondary);
}

.treeNode.treeSelected .fToggle.tcrToggle,
.tcrNode .treeNode.treeSelected .treeNodeIcon:not(img),
.tcrNode .treeNode:hover .treeNodeIcon:not(img),
.tcrNode .treeNode:hover .treeNode .fToggle,
.tcrNode .treeNode:hover .fToggle.tcrToggle {
	color: var(--icon-primary);
}

.tcrNoSelect {
	color: var(--text-disabled);
}

.tcrNoSelect .treeNodeIcon:not(img),
.treeNode .input-image.fToggle.disabled {
	color: var(--icon-disabled);
}

.treeSelected .tcrLink {
	color: var(--text-primary);
}

.tcrNode .treeNode:hover {
	color: var(--text-primary);
	background: var(--layer-hover);
}

.tcrNode .treeNode:hover .tcrLink {
	color: var(--text-primary);
}

.tcrNode .treeNode.treeSelected {
	background: var(--layer-selected);
}

.tcrNode .treeNode.treeSelected .tcrLink {
	color: var(--text-primary);
}

.tcrNode .treeNode.treeSelected:hover {
	background: var(--layer-selected-hover);
}

.tcrNode .treeNode a:focus {
	color: var(--icon-secondary); /* Without it it's becoming the color of the anchor */
	box-shadow: none;
}

div.treeNode.dndInsertAbove::before,
div.treeNode.dndInsertBelow::after {
    content: "";
    position: absolute;
    left: 0.75rem;
    right: 0;
    height: 2px;
    background-color: var(--border-interactive);
}

div.treeNode.dndInsertAbove::before {
    top: 0;
}

div.treeNode.dndInsertBelow::after {
    bottom: 0;
}

div.treeNode.dndInsertWithin {
	background-color: var(--notification-info-background);
}

div.treeNode.dndInsertInto,
div.treeNode.treeSelected.dndInsertInto {
	background-color: var(--notification-info-background);
}

/*
****						****
****	Toolbar styles		****
****						****
*/
.cCollapsibleHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--layer-accent);
	gap: var(--spacing-02);
	height: inherit;
	overflow: hidden;
	padding: var(--spacing-02) var(--spacing-03);
	box-sizing: border-box;
	border-bottom: 2px solid var(--border-subtle);
}

.cCollapsibleToolbar {
	white-space: nowrap;
}

.cCollapsibleTitle {
	font-family: var(--font-family-bold);
    font-size: var(--heading-compact-02-font-size);
    line-height: var(--heading-compact-02-line-height);
    letter-spacing: var(--heading-compact-02-letter-spacing);
	color: var(--text-primary);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cCollapsibleToolbar .cButton,
.cToolbar .cButton,
.tl-table__title-toolbar .cButton {
	display: inline-flex;
	margin-left: var(--spacing-02);
}

.cCollapsibleToolbar a:hover,
.cToolbar a:hover,
.tl-table__title-toolbar a:hover {
	color: var(--icon-primary);
	text-decoration: none;
}

.cCollapsibleToolbar a:focus,
.cToolbar a:focus,
.tl-table__title-toolbar a:focus {
	color: var(--icon-primary);
}

.cCollapsibleToolbar a,
.cToolbar a,
.tl-table__title-toolbar a {
	color: var(--icon-primary);
}

/* for when the toolbar is collapsed */
.cCollapsibleHorizontal .cCollapsibleHeader {
	flex-direction: column-reverse;
	justify-content: start;
	align-items: unset;
	border-bottom: none;
}

.cCollapsibleHorizontal .cCollapsibleTitle {
	display: block;
	transform: rotate(90deg);
	overflow: visible;
	padding-left: var(--spacing-01);
}

.cCollapsibleHorizontal .cCollapsibleToolbar {
	display: inline-flex;
	padding-top: var(--spacing-03);
	justify-content: center;
	align-items: center;
}

.cCollapsibleHorizontal .cCollapsibleButtons {
	flex-direction: column;
	gap: 5px;
}

.cCollapsibleHorizontal .cCollapsibleButtons .cButton {
    margin-left: 0;
}

/* Makes it visible when it's in a collapsed title state. */
.cCollapsibleHorizontal .ddwttDropBtn {
	max-width: none;
}

span.tbGroup,
.cToolbar,
.cCollapsibleButtons,
.cCollapsibleToolbar {
    display: inline-flex;
}

.cCollapsibleButtons::before {
	border-left: 1px solid var(--border-subtle);
	margin-left: var(--spacing-02);
	height: calc(var(--COLLAPSIBLE_IMAGE_HEIGHT) - var(--spacing-02) * 2);
	content: " ";
}

.cCollapsibleCollapsed .cCollapsibleButtons::before {
	content: none;
}

.tbGroup.cImageButton input {
	height: 1.5rem;
	width: 1.5rem;
}

/*
****								****
****	Assistent progress syles	****
****								****
*/
.assistantContent {
	margin-top: var(--spacing-02);
	background-color: var(--background);
}

.assistantList {
	display: flex;
	justify-content: center;
	gap: var(--spacing-03);
	margin: 0;
	padding: 0;
}

.assistantElement {
	display: inline-flex;
	align-items: center;
	gap: var(--spacing-01);
	color: var(--text-primary);
}

/*
 * =======================================
 * ======= Styles for Drag n Drop ========
 * =======================================
 */
.DNDinsertMarker {
	line-height: 5px;
	background-color: var(--border-interactive);
}

div.DNDmouseMarker {
	position: absolute;
}

div.DNDmouseMarker div.dndSelection {
    position: static;
    background-color: var(--notification-info-background);
    border: solid 1px;
    padding: 2px;
}

/* ============================================================== */
/* ====== Sync scrolling images (ssi), see ImageControl     ===== */
/* ============================================================== */
div.ssiHeader,
div.ssiEdge,
div.ssiTop,
div.ssiBody,
div.ssiLeft,
div.ssiContent {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

div.ssiHeader,
div.ssiEdge,
div.ssiTop,
div.ssiBody,
div.ssiLeft {
	overflow: hidden;
}

div.ssiEdge,
div.ssiTop,
div.ssiLeft,
div.ssiContent {
	vertical-align: top;
	text-align: left;
}

div.ssiContent {
	overflow: auto;
}

img.ssiImage {
	position: relative;
}

div.ssiContentArea {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* ===== com.top_logic.layout.form.decorator.ChangeInfo ===== */

.changeInfoNoChange {
	display: flex;
	align-items: center;
}

.changeInfoCreated {
	display: flex;
	align-items: center;
	color: green;
}

.changeInfoRemoved {
	display: flex;
	align-items: center;
	color: red;
}

.changeInfoChanged {
	display: flex;
	align-items: center;
	color: blue;
}

.changeInfoDeepChanged {
	display: flex;
	align-items: center;
	color: darkblue;
}

.changeInfoCreated img,
.changeInfoRemoved img,
.changeInfoChanged img, 
.changeInfoDeepChanged img {
	vertical-align: text-bottom;
}

.changeInfoCreated.form img,
.changeInfoRemoved.form img,
.changeInfoChanged.form img, 
.changeInfoDeepChanged.form img {
	padding-right: 5px;
}

.changeInfoCreated.table img,
.changeInfoRemoved.table img,
.changeInfoChanged.table img, 
.changeInfoDeepChanged.table img {
	padding-right: 0px;
}

.clickGuardContainer {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-color: white;
	opacity: 0;
	filter: alpha(opacity=0);
}

.activeGalleryManagementButton, .inactiveGalleryManagementButton {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	gap: var(--spacing-02);
	height: 2rem; /* 32px height */
	padding: 0 var(--spacing-03);
	border-radius: var(--corner-radius);
	font-family: var(--font-family-bold);
	font-size: var(--heading-compact-02-font-size);
	line-height: var(--heading-compact-02-line-height);
	letter-spacing: var(--heading-compact-02-letter-spacing);
	box-sizing: border-box;
	margin-top: var(--spacing-03);
}

.activeGalleryManagementButton {
	cursor: pointer;
	color: var(--text-on-color);
	background: var(--button-primary);
	box-shadow: inset 0px 0px 0px 2px var(--button-primary);
}

.activeGalleryManagementButton:hover,
[data-tool=true] > .attribute:hover {
	color: var(--text-on-color);
	background: var(--button-primary-hover);
	box-shadow: inset 0px 0px 0px 2px var(--button-primary-hover);
}

.inactiveGalleryManagementButton {
	cursor: default;
	color: var(--text-on-color-disabled);
	background: var(--button-disabled);
	box-shadow: inset 0px 0px 0px 2px var(--button-disabled);
}

.galleryImageLabel {
	margin-left: var(--spacing-01);
}

