/*
****							****
****	ButtonComponent styles	****
****							****
*/
.cmdButtonsDialogOpener {
    position: absolute;
    top: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
}

.cmdBody {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tlButtonScrollContainer, 
.cmdButtons {
 	display: flex;
 	justify-content: flex-end;
    padding-top: var(--spacing-01);
}

.cTextPopupEditor .cmdButtons {
    margin: var(--spacing-02) 0;
    padding-top: 0;
}

.cmdButtons .cButton,
.tlButtonScrollContainer .cButton {
	margin-right: 0.5rem;
}

.buttonSpaceHolder {
  	width: 10000px;
  	padding-left: 12px;
  	padding-right: 12px;
}

.cmdButtonsDialogOpener.visible {
	display: block;
}

.cButton:hover, 
.tlButton:hover {
	text-decoration: none !important;
}

div.cmdProgress {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: var(--background);
	display: none;
}

div.cmdProgress img {
	border: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cButton.active .menuEntryImage i, 
.cButton.active .input-image i {
	color: var(--support-danger);
}

/*
****					****
****	Button styles	****
****					****
*/
.cmdButtons .cButton,
.cButton.cmdButton,
.cButton.cmdButtonDisabled,
.cDefaultButton button,
.cDefaultButton button:disabled,
.tlButtonScrollContainer .tlDropdownButton,
.sxButtons .tlButton,
.cButton.bcPopup,
.cButton.cLinkButton.cmdLink,
.cButton.cLinkButton.cmdLinkDisabled,
.fltSubContent .cMenuButton.menuEntryEnabled,
.fltSubContent .cMenuButton.menuEntryDisabled {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	gap: var(--spacing-02);
	height: 2rem; /* 32px height */
	padding: 0 var(--spacing-03);
	border-radius: var(--corner-radius);
	font-family: 'Inter-SemiBold';
	font-size: var(--heading-compact-02-font-size);
	line-height: var(--heading-compact-02-line-height);
	letter-spacing: var(--heading-compact-02-letter-spacing);
}

.cImageLinkButton {
	display: flex;
	gap: var(--spacing-02);
}

.fltSubContent .cMenuButton.menuEntryEnabled,
.fltSubContent .cMenuButton.menuEntryDisabled {
    margin: var(--spacing-01);
	width: -webkit-fill-available;
}

.fltSubContent .menuEntryCell {
    font-family: 'Inter-SemiBold';
    font-size: var(--heading-compact-02-font-size);
    line-height: var(--heading-compact-02-line-height);
    letter-spacing: var(--heading-compact-02-letter-spacing);
	padding: 0;
    color: var(--button-secondary);
}

.fltSubContent .menuEntryCell:first-child, 
.fltSubContent .menuEntryCell img.menuEntryImage {
	width: 100%;
}

.cDefaultButton button {
	cursor: pointer;
}

.cButton.cImageLinkButton,
.cButton.cImageLinkButton {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	gap: var(--spacing-02);
	height: 2rem; /* 32px height */
	padding: 0 var(--spacing-03);
	border-radius: var(--corner-radius);
	font-family: 'Inter-SemiBold';
	font-size: var(--heading-compact-02-font-size);
	line-height: var(--heading-compact-02-line-height);
	letter-spacing: var(--heading-compact-02-letter-spacing);
	font-weight: 600;
	background: transparent;
	box-shadow: inset 0px 0px 0px 2px var(--button-secondary);
	color: var(--button-secondary);
	white-space: nowrap;
	cursor: pointer;
}

.cButton.cImageLinkButton.cmdLink {
	color: var(--button-secondary);
}

.cButton.cImageLinkButton > .cButton.cImageLinkButton {
	gap: 0;
	padding: 0;
	border-radius: 0;
	box-shadow: none;
}

.cButton.cImageLinkButton.cmdLinkDisabled {
	color: var(--text-disabled);
}

/* 
Button heights for popup window of a select chooser model,
with hard coded popup window dimension
 */
.moveOption.cDefaultButton button {
	height: 1.3rem;
}

.tlButtonLabel, 
.cDefaultButton button, 
.cButton.cLinkButton.cmdLinkDisabled {
	font-weight: 600;
}

.tlButton, 
.fltSubContent .cMenuButton.menuEntryEnabled,
.cDefaultButton button,
.cButton.cLinkButton.cmdLink {
	background: transparent;
	box-shadow: inset 0px 0px 0px 2px var(--button-secondary);
}

.tlButton,
.tlButtonLabel,
.fltSubContent .cMenuButton.menuEntryEnabled,
.cDefaultButton button,
.cButton.cLinkButton.cmdLink {
	color: var(--button-secondary);
	white-space: nowrap;
}

.tlButton .cmdImg,
.fltSubContent .menuEntryCell:first-child, 
.fltSubContent .menuEntryCell img.menuEntryImage {
	color: var(--button-secondary);
}

.tlButton:hover,
.fltSubContent .cMenuButton.menuEntryEnabled:hover,
.cDefaultButton button:hover,
.cButton.cLinkButton.cmdLink:hover {
	background: var(--button-secondary-hover);
	box-shadow: inset 0px 0px 0px 2px var(--button-secondary-hover);
}

.tlButton:hover .tlButtonLabel,
.fltSubContent .cMenuButton.menuEntryEnabled:hover,
.cDefaultButton button:hover,
.cButton.cLinkButton.cmdLink:hover, 
.fltSubContent .cMenuButton.menuEntryEnabled:hover .menuEntryCell {
	color: var(--text-on-color);
	text-decoration: none;
}

.tlButton:hover .cmdImg, 
.fltSubContent .cMenuButton.menuEntryEnabled:hover .menuEntryCell:first-child, 
.fltSubContent .cMenuButton.menuEntryEnabled:hover img.menuEntryImage {
	color: var(--icon-on-color);
}

.tlButton:focus,
.fltSubContent .cMenuButton.menuEntryEnabled:focus,
.cDefaultButton button:focus,
.cButton.cLinkButton.cmdLink:focus {
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
	background: var(--button-secondary-hover);
	outline: none !important;
}

.tlButton:focus .tlButtonLabel,
.cDefaultButton button:focus,
.fltSubContent .cMenuButton.menuEntryEnabled:focus,
.fltSubContent .cMenuButton.menuEntryEnabled:focus .menuEntryCell,
.cButton.cLinkButton.cmdLink:focus {
	color: var(--text-on-color);
}

.tlButton:focus .cmdImg, 
.fltSubContent .cMenuButton.menuEntryEnabled:focus .menuEntryCell:first-child, 
.fltSubContent .cMenuButton.menuEntryEnabled:focus img.menuEntryImage {
	color: var(--icon-on-color);
	outline: none !important;
}

.tlButton:active,
.cDefaultButton button:active,
.fltSubContent .cMenuButton.menuEntryEnabled:active,
.cButton.cLinkButton.cmdLink:active {
	text-decoration: none;
	background: var(--button-secondary-active);
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
}

.tlButton:active .tlButtonLabel,
.cDefaultButton button:active,
.fltSubContent .cMenuButton.menuEntryEnabled:active .menuEntryCell,
.cButton.cLinkButton.cmdLink:active {
	color: var(--text-on-color);
}

.tlButton:active .cmdImg,
.fltSubContent .cMenuButton.menuEntryEnabled:active .menuEntryCell:first-child, 
.fltSubContent .cMenuButton.menuEntryEnabled:active img.menuEntryImage {
	color: var(--icon-on-color);
}

.tlButton.cmdButtonDisabled,
.tlButton.cmdButtonDisabled:hover,
.cDefaultButton button:disabled,
.cButton.cLinkButton.cmdLinkDisabled {
	cursor: default;
	background: none;
	box-shadow: inset 0px 0px 0px 2px var(--button-disabled);
	text-decoration: none;
}

.tlButton.cmdButtonDisabled:focus,
.cButton.cLinkButton.cmdLinkDisabled:focus {
	box-shadow: inset 0px 0px 0px 2px var(--button-disabled);
	outline: none !important;
}

.tlButton.cmdButtonDisabled .tlButtonLabel,
.cDefaultButton button:disabled,
.cButton.cLinkButton.cmdLinkDisabled {
	color: var(--text-disabled);
}

.tlButton.cmdButtonDisabled .cmdImg {
	color: var(--icon-disabled);
}

.tlButton.tlPrimaryButton {
	background: var(--button-primary);
	box-shadow: inset 0px 0px 0px 2px var(--button-primary);
}

.tlButton.tlPrimaryButton .tlButtonLabel {
	color: var(--text-on-color);
}

.tlButton.tlPrimaryButton .cmdImg {
	color: var(--icon-on-color);
}

.tlButton.tlPrimaryButton:hover {
	background: var(--button-primary-hover);
	box-shadow: inset 0px 0px 0px 2px var(--button-primary-hover);
}

.tlButton.tlPrimaryButton:focus {
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
	outline: none !important;
}

.tlButton.tlPrimaryButton:active {
	background: var(--button-primary-active);
}

.tlButton.tlPrimaryButton.cmdButtonDisabled {
	background: var(--button-disabled);
	box-shadow: inset 0px 0px 0px 2px var(--button-disabled);
}

.tlButton.tlPrimaryButton.cmdButtonDisabled .tlButtonLabel {
	color: var(--text-on-color-disabled);
}

.tlButton.tlPrimaryButton.cmdButtonDisabled .cmdImg {
	color: var(--icon-on-color-disabled);
}

.tlButton.tlGhostButton {
	background: transparent;
	box-shadow: inset 0px 0px 0px 2px var(--focus-inset);
}

.tlButton.tlGhostButton .tlButtonLabel {
	color: var(--link-primary);
}

.tlButton.tlGhostButton .cmdImg {
	color: var(--link-primary);
}

.tlButton.tlGhostButton:hover {
	background: var(--layer-hover);
	box-shadow: inset 0px 0px 0px 2px var(--layer-hover);
}

.tlButton.tlGhostButton:hover .tlButtonLabel {
	color: var(--link-primary-hover);
}

.tlButton.tlGhostButton:hover .cmdImg {
	color: var(--link-primary-hover);
}

.tlButton.tlGhostButton:focus {
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
	background: transparent;
	outline: none !important;
}

.tlButton.tlGhostButton:active {
	background: var(--background-active);
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
}

.tlButton.tlGhostButton.cmdButtonDisabled {
	background: transparent;
	box-shadow: none;
}

.tlButton.tlGhostButton.cmdButtonDisabled .tlButtonLabel {
	color: var(--text-disabled);
}

.tlButton.tlGhostButton.cmdButtonDisabled .cmdImg {
	color: var(--icon-disabled);
}

.tlButton.tlDangerButtonPrimary {
	box-shadow: inset 0px 0px 0px 2px var(--button-danger);
	background: var(--button-danger);
}

.tlButton.tlDangerButtonPrimary .tlButtonLabel {
	color: var(--text-on-color);
}

.tlButton.tlDangerButtonPrimary .cmdImg {
	color: var(--icon-on-color);
}

.tlButton.tlDangerButtonPrimary:hover {
	background: var(--button-danger-hover);
	box-shadow: inset 0px 0px 0px 2px var(--button-danger-hover);
}

.tlButton.tlDangerButtonPrimary:focus {
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
	outline: none !important;
}

.tlButton.tlDangerButtonPrimary:active {
	background: var(--button-danger-active);
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
}

.tlButton.tlDangerButtonPrimary.cmdButtonDisabled {
	background: var(--button-disabled);
	box-shadow: inset 0px 0px 0px 2px var(--button-disabled);
}

.tlButton.tlDangerButtonPrimary.cmdButtonDisabled:focus {
	box-shadow: none;
	outline: none !important;
}

.tlButton.tlDangerButtonPrimary.cmdButtonDisabled .tlButtonLabel {
	color: var(--text-on-color-disabled);
}

.tlButton.tlDangerButtonPrimary.cmdButtonDisabled .cmdImg {
	color: var(--icon-on-color-disabled);
}

.tlButton.tlDangerButtonSecondary {
	background: transparent;
	box-shadow: inset 0px 0px 0px 2px var(--button-danger);
	border: none;
}

.tlButton.tlDangerButtonSecondary .tlButtonLabel {
	color: var(--button-danger);
}

.tlButton.tlDangerButtonSecondary .cmdImg {
	color: var(--button-danger);
}

.tlButton.tlDangerButtonSecondary:hover {
	background: var(--button-danger-hover);
	box-shadow: inset 0px 0px 0px 2px var(--button-danger-hover);
}

.tlButton.tlDangerButtonSecondary:hover .tlButtonLabel {
	color: var(--text-on-color);
}

.tlButton.tlDangerButtonSecondary:hover .cmdImg {
	color: var(--icon-on-color);
}

.tlButton.tlDangerButtonSecondary:focus {
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
	outline: none !important;
}

.tlButton.tlDangerButtonSecondary:active {
	background: var(--button-danger-active);
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
}

.tlButton.tlDangerButtonSecondary:active .tlButtonLabel {
	color: var(--text-on-color);
}

.tlButton.tlDangerButtonSecondary:active .cmdImg {
	color: var(--icon-on-color);
}

.tlButton.tlDangerButtonSecondary.cmdButtonDisabled {
	background: none;
	box-shadow: inset 0px 0px 0px 2px var(--button-disabled);
}

.tlButton.tlDangerButtonSecondary.cmdButtonDisabled .tlButtonLabel {
	color: var(--text-disabled);
}

.tlButton.tlDangerButtonSecondary.cmdButtonDisabled .cmdImg {
	color: var(--icon-disabled);
}

/*
****						****
****	Dropdown styles		****
****						****
*/
.tlDropdown {
	position: relative;
	align-self: center;
	flex-shrink: 0;
	display: none;
}

.tlButtonScrollContainer .tlDropdown {
  	margin-right: 10px;
}

.tlDropdownContent {
  	display: none;
  	position: absolute;
	right: .5rem;
  	background-color: var(--background);
  	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.32);
}

.tlButtonScrollContainer .tlDropdownContent {
  	bottom: 100%;
}

.tlDropdownContent a {
  	display: flex;
  	flex-direction: row-reverse;
  	justify-content: flex-end;
  	align-items: center;
	padding: 0 var(--spacing-03);
}

.tlDropdownContent a .tlButtonLabel {
	font-family: 'Inter-Regular';
  	font-size: .875rem;
  	font-weight: 400;
	color: var(--text-secondary);
	flex-shrink: 0;
}

.tlDropdownContent a .cmdImg {
	color: var(--icon-secondary);
	padding-right: var(--spacing-02);
}

.tlInDropdown:not(:first-child) {
	border-top: 1px solid var(--border-subtle);
}

.tlDropdownContent a:hover {
  	background: var(--layer-hover);
  	text-decoration: none;
}

.tlDropdownContent a:hover .tlButtonLabel {
  	color: var(--icon-primary);
}

.tlDropdownContent a:hover .cmdImg {
  	color: var(--icon-primary);
  	text-decoration: none;
}

.tlDropdownContent a:focus {
	box-shadow: inset 0px 0px 0px 2px var(--focus);
	outline: none !important;
}

span.cImageButton .input-image.disabled i, span.cmdLink .input-image.disabled i, span.cOpenCalendar .input-image.disabled i, 
span.cTimeInput .input-image.disabled i, span.cPopupSelect .input-image.disabled i, .cIntegerInput .input-image.disabled i, 
span.cTextSelect .input-image.disabled i, span.cImageLinkButton .input-image.disabled i, .cDownload .input-image.disabled i, 
span.cDecoratedCell .input-image.disabled i, span.cExpandableTextInput .input-image.disabled i, span.cBlockTextInput .input-image.disabled i, 
span.urlWithIcon .input-image.disabled i, span.cIconSelect .input-image.cannot-edit i, .fChoose.input-image.disabled i, a.cmdButtonDisabled i, 
.cMenuButton.menuEntryDisabled i, .cMenuButton.menuEntryDisabled:hover i, .cmdLinkDisabled .input-image.disabled i,
span.dlgToolbar .input-image.disabled i, span.pdlgToolbar .input-image.disabled i,
div.cCollapsibleToolbar .input-image.disabled i, .tl-table__title-toolbar .input-image.disabled i {
	color: var(--icon-disabled);
}

/* Icon Button Styles */
.cOpenCalendar,
.cButton.i18nTranslationCommand,
.cButton.cmdLink, 
.cButton.cImageButton,
cButton.cImageButton,
.dfToolbar .cmdLink, 
.dfToolbar .cmdLinkDisabled, 
.dfListCommands .cmdLink,
.dfListCommands .cmdLinkDisabled,
.px-1 .cmdLink,
.px-1 .cmdLinkDisabled,
.dfListAdd .cButton a,
.dfListAdd .cButton a.disabled,
.cButton.dfRemove,
.cButton.fToggle {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	height: 1rem;
	min-width: 1rem;
	color: var(--icon-primary);
}

.cOpenCalendar a,
a.fClear,
a.fChoose, 
.cButton.i18nTranslationCommand a,
.cButton.cmdLink a, 
.cButton.cImageButton a,
.cButton.dfRemove a,
.cButton.fToggle a {
	color: var(--icon-primary);
}

.cOpenCalendar a:hover,
a.fClear:hover,
a.fChoose:hover,
.cButton.i18nTranslationCommand a:hover,
.cButton.cmdLink a:hover, 
.cButton.cImageButton a:hover,
.dfToolbar .cmdLink:hover, 
.dfListCommands .cmdLink:hover,
.px-1 .cmdLink:hover,
.dfListAdd .cButton a:hover,
.cButton.dfRemove a:hover,
.cButton.fToggle a:hover {
	color: var(--icon-primary);
}


/* Icon Styles for design mode hamburger buttons */
.tlAdditionalRightContent .cButton.cImageButton,
.tlAdditionalRightContent .cButton.cImageButton.cmdButtonDisabled, 
.sblLogo .cButton.cImageButton,
.sblLogo .cButton.cImageButton.cmdButtonDisabled {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-02) var(--spacing-02);
	border-radius: var(--corner-radius);
	background: var(--button-primary);
	box-shadow: inset 0px 0px 0px 2px var(--button-primary);
}

.tlAdditionalRightContent .cButton.cImageButton,
.tlAdditionalRightContent .cButton.cImageButton.cmdButtonDisabled {
	height: 1.25rem;
	width: 1.25rem;
}

.sblLogo .cButton.cImageButton, 
.sblLogo .cButton.cImageButton.cmdButtonDisabled {
	height: .5rem;
	width: .5rem;
}

.tlAdditionalRightContent .cButton.cImageButton a,
.sblLogo .cImageButton a {
	padding: inherit;
	color: var(--icon-on-color);
}

.breadCrumbRight .Right span a {
	color: var(--icon-primary);
	height: .1rem;
	width: .1rem;
}

.tlAdditionalRightContent .cButton.cImageButton:hover,
.sblLogo .cImageButton:hover {
	background: var(--button-primary-hover);
	box-shadow: inset 0px 0px 0px 2px var(--button-primary-hover);
}

.tlAdditionalRightContent .cButton.cImageButton:focus,
.sblLogo .cImageButton:focus {
	box-shadow: inset 0px 0px 0px 2px var(--focus),inset 0px 0px 0px 3px var(--focus-inset);
	outline: none !important;
}

.tlAdditionalRightContent .cButton.cImageButton a:focus,
.sblLogo .cImageButton a:focus {
	box-shadow: none;
	outline: none !important;
}

.tlAdditionalRightContent .cButton.cImageButton:active,
.sblLogo .cImageButton:active {
	background: var(--button-primary-active);
}

.tlAdditionalRightContent .cButton.cImageButton.cmdButtonDisabled,
.sblLogo .cImageButton.cmdButtonDisabled {
	background: var(--button-disabled);
	box-shadow: inset 0px 0px 0px 2px var(--button-disabled);
	cursor: default;
}

.tlAdditionalRightContent .cButton.cImageButton.cmdButtonDisabled a,
.sblLogo .cImageButton.cmdButtonDisabled a {
	color: var(--icon-on-color-disabled);
	cursor: default;
}



