* {
	box-sizing: border-box;
}

html, body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
	margin:0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: #0090b8;
}

body {
	background-image: url("../images/login/login-background.jpg");
	background-size: cover;
	background-position: center;
}

form {
	margin: 0 auto;
	position: relative;
	padding: calc(20vh - 75px) 0 0 0;
	max-width: 26rem;
}

div {
	position: relative;
}

input, label {
	margin-bottom: 0.4rem;
	width: 100%;
	display: inline-block;
}

label {
	margin-top: 0.4rem;
}

input[type="text"], input[type="password"], input[type="submit"] {
	border-radius: 0.3rem;
	border-width: 1px;
	border-style: solid;
}

input[type="text"], input[type="password"] {
	background-color: #f8fafc;
	border-color: #dfe3e9;
	font-size: 1.4rem;
	padding: 0.35rem 0.45rem;
}

input[type="text"]:-webkit-autofill {
	background-color: #f8fafc;
	border-color: #dfe3e9;
	font-size: 1.4rem;
	padding: 0.35rem 0.45rem;
}

input[type="submit"] {
	margin-top: 0.8rem;
	background-color: #0090b8;
	border-color: #0078a3;
	color: #efefef;
	font-size: 1.2rem;
	padding: 0.5rem 0.65rem;
}

input[type="submit"]:hover {
	cursor: pointer;
	background-color: #0078a3;
}

.disabled, input[type="submit"][disabled] {
	color: #a8aaac;
	background-color: #e2e6ea;
	border-color: #d2d6da;
}

div.container {
	position:relative;
	background-color: #efefef;
	padding: 0.8rem 1.2rem;
	border-radius: 0.6rem;
	border-width: 1px;
	border-style: solid;
	border-color: #d2d6da;
}

.logodiv {
	max-width: 80%;
	margin: .6rem auto .6rem auto;
}

/* mobile first */
.logo img {
	width: 64px;
	height: 64px;
	max-width: 18.75rem;
	margin-bottom: .75rem; 
}

.logo {
	display: inline-block;
}

@media only screen and (min-width: 340px){
	.logo img {
		width: 300px;
		height: auto;
		max-height: 68px;
	}
}

.messageField, .messageContainer, .logodiv {
	text-align: center;
}

.messageField, .messageContainer {
	color: #e4246f;
	font-style: italic;
	padding: 0.2rem 0;
	min-height: 1.6rem;
}

.tlLink {
	margin-bottom: 1rem;
	font-size: small;
	text-align: center;
}

.tlLink a {
	color: #0090b8;
	text-decoration: none;
}


img.hidden {
	display:none;
}