table.scriptingRecorderTemplateParams {
	width: 100%; 
	padding: 0px; 
	margin: 0px;
}

table.scriptingRecorderTemplateParams td {
	white-space: nowrap;
}

th.scriptingRecorderLabelColumn {
	width: 0px;
}

th.scriptingRecorderContentColumn {
	width: 100%;
}

span.scriptRecorderActionXmlError {
	position: absolute;
	top: 5px;
	right: 5px;
}

span.scriptRecorderActionXmlField.error textarea {
	border: 1px var(--support-danger) solid;
}

span.scriptRecorderActionXmlField textarea {
	white-space: pre;
	word-wrap: normal;
	overflow: auto;
	width: 100%;
	height: 100%;
	margin: 0px;
	position: absolute;
	box-sizing: border-box;
	font-family: monospace;
}

div.scrDerived a.selectableNode {
	color: var(--text-disabled);
}

div.scrDerived i {
	color: var(--icon-disabled);
}

div.scrDerived:hover i,
div.scrDerived.treeSelected i {
	color: var(--icon-primary);
}

div.scrDerived a.selectableNode {
	
}

div.scrError a.selectableNode {
	color: var(--support-danger);
}

td.scriptRecorderContentColumn input.is-input {
	width: 90%
}
