/*
****					****
****	Tabbar syles	****
****					****
*/
.mainTabBar, .tabBar {
	position: absolute;
	top: 50%;  /* Start in the middle of the parent element */
	transform: translateY(-50%); /* Drag back 50% of its own height to center it in the parent element */
	left: 0;
	right: 0;
	display: flex;
	flex-wrap: nowrap;
	margin-right: .625rem;
}

.tlTabScrollContainer {
	display: flex;
	flex-wrap: nowrap;
	height: 2.5rem;
  	overflow-x: auto;
	scrollbar-width: none;	/* Hides the scrollbar. */
}

/* Hides the scrollbar in Chrome, Safari, and Opera */
.tlTabScrollContainer::-webkit-scrollbar {
  	display: none;
}

.tlTabScrollContainer.scrolling .tab,
.tlTabScrollContainer.scrolling .activeTab {
	pointer-events: none;
}

.tlTabScrollLeft, .tlTabScrollRight {
	display: flex;
  	justify-content: center;
 	align-items: center;
 	flex-shrink: 0;
	cursor: pointer;
  	font-size: 16px;
  	width: 2.5rem;
  	height: 2.5rem;
}

/* Line tabs */
.mainTabBar .activeTab,
.mainTabBar .tab {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	flex-shrink: 0;
	cursor: pointer;
  	height: 2.5rem;
	padding: var(--spacing-02) var(--spacing-03);
	background: transparent;
	width: auto;
	border-top: none;
	border-right: none;
	border-left: none;
}

.mainTabBar .activeTab {
	border-bottom: 2px solid var(--border-interactive);	
}

.mainTabBar .tab {
	border-bottom: 2px solid var(--border-subtle);
}

.mainTabBar .activeTabLabel {
	color: var(--text-primary);
	font-size: .875rem;
	font-weight: 600;
}

.mainTabBar .tabLabel {
	color: var(--text-secondary);
	font-size: .875rem;
	font-weight: 400;
}

.mainTabBar .activeTab:hover,
.mainTabBar .tab:hover {
	border-bottom: 2px solid var(--border-strong);
}

.mainTabBar .activeTab:focus,
.mainTabBar .tab:focus {
	box-shadow: inset 0 0 0 1px var(--focus);
	border-bottom: 1px solid var(--focus);
}

.mainTabBar .activeTab:disabled,
.mainTabBar .tab:disabled {
	border-bottom: 2px solid var(--border-disabled);
}


/* Contained tabs */
.tabBar .activeTab,
.tabBar .tab {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	flex-shrink: 0;
	padding: var(--spacing-02) var(--spacing-03);
	height: 2.5rem;
	border: none;
	cursor: pointer;
}

.tabBar .activeTab{
	background: var(--layer-selected);
}

.tabBar .tab {
	background: var(--layer);
}

.tabBar .activeTabLabel {
	color: var(--text-interactive);
	font-size: .875rem;
	font-weight: 600;
}

.tabBar .tabLabel {
	color: var(--text-secondary);
	font-size: .875rem;
	font-weight: 400;
}

.tabIcon i {
	color: var(--icon-secondary);
	padding-left: var(--spacing-02);
  	font-size: 1rem;
}

.tabBar .activeTab .tabIcon i {
	color: var(--icon-interactive);
}

.tabBar .tab .tabIcon i {
	color: var(--icon-secondary);
}

.tabBar .tab:not(:last-child) {
	border-right: 1px solid var(--border-subtle);
}

.tabBar .activeTab:hover,
.tabBar .tab:hover {
	background: var(--layer-hover);
}

.tabBar .tab:focus {
	box-shadow: inset 0 0 0 1px var(--focus);
}

.tabBar .activeTab:disabled,
.tabBar .tab:disabled {
	background: var(--layer-disabled);
}

.activeTab:hover .activeTabLabel,
.tab:hover .tabLabel{
	color: var(--text-primary);
}

.activeTab:hover .tabIcon i,
.tab:hover .tabIcon i {
	color: var(--icon-primary);
}

.activeTab:disabled .activeTabLabel,
.tab:disabled .tabLabel {
	color: var(--text-disabled);
	font-weight: 400;
}

.activeTab:disabled .tabIcon i,
.tab:disabled .tabIcon i {
	color: var(--icon-disabled);
}
