/*
****					****
****	Tabbar syles	****
****					****
*/
.tlTabBar {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
}

/* Simulates a border bottom line for the entire tab bar */
.tlTabBar::before {
	content: "";
	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 2px;
  	background-color: var(--border-subtle);
	z-index: -1;
}

.tlTabScrollContainer {
	display: flex;
	flex-wrap: nowrap;
	height: var(--tabbar-height);
  	overflow-x: auto;
	scrollbar-width: none;	/* Hides the scrollbar. */
}

/* Hides the scrollbar in Chrome, Safari, and Opera */
.tlTabScrollContainer::-webkit-scrollbar {
  	display: none;
}

.tlTabScrollContainer.scrolling .tab,
.tlTabScrollContainer.scrolling .activeTab {
	pointer-events: none;
}

.tlTabScrollLeft, .tlTabScrollRight {
	display: flex;
  	justify-content: center;
 	align-items: center;
 	flex-shrink: 0;
	cursor: pointer;
  	font-size: 16px;
  	width: var(--tabbar-height);
  	height: var(--tabbar-height);
}

.tlTabBar .activeTab,
.tlTabBar .tab {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	flex-shrink: 0;
	cursor: pointer;
  	height: var(--tabbar-height);
	padding: var(--spacing-02) var(--spacing-03);
	background: transparent;
	width: auto;
	border-top: none;
	border-right: none;
	border-left: none;
}

.tlTabBar .activeTab {
	border-bottom: 2px solid var(--border-interactive);	
}

.tlTabBar .tab {
	border-bottom: 2px solid var(--border-subtle);
}

.tlTabBar .activeTabLabel {
	color: var(--text-primary);
	font-size: .875rem;
	font-weight: 600;
}

.tlTabBar .tabLabel {
	color: var(--text-secondary);
	font-size: .875rem;
	font-weight: 400;
}

.tlTabBar .activeTab:hover,
.tlTabBar .tab:hover {
	border-bottom: 2px solid var(--border-strong);
}

.tlTabBar .activeTab:focus,
.tlTabBar .tab:focus {
	box-shadow: inset 0 0 0 1px var(--focus);
	border-bottom: 1px solid var(--focus);
}

.tlTabBar .activeTab:disabled,
.tlTabBar .tab:disabled {
	border-bottom: 2px solid var(--border-disabled);
}


