@font-face {
  font-family: 'tl_iconFont';
  src:  url('../webfonts/tl_iconFont.eot?2hx4aq');
  src:  url('../webfonts/tl_iconFont.eot?2hx4aq#iefix') format('embedded-opentype'),
    url('../webfonts/tl_iconFont.ttf?2hx4aq') format('truetype'),
    url('../webfonts/tl_iconFont.woff?2hx4aq') format('woff'),
    url('../webfonts/tl_iconFont.svg?2hx4aq#tl_iconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.tl-icon, i[class*=" overlay-"] span {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tl_iconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tl-icon.arrow-up-quarter-circle::before {
  content: "\ea74";
}
.tl-icon.arrow-down-quarter-circle::before {
  content: "\ea75";
}
.tl-icon.arrow-half-circle::before {
  content: "\ea76";
}
.tl-icon.arrow-left-solid::before {
  content: "\e900";
}
.tl-icon.arrow-right::before {
  content: "\e901";
}
.tl-icon.arrow-right span::before {
  content: "\e902";
  margin-left: -1em;
}
.tl-icon.arrow-right-circle::before {
  content: "\e903";
}
.tl-icon.arrow-right-circle span::before {
  content: "\e904";
  margin-left: -1em;
}
.tl-icon.arrow-right-plus::before {
  content: "\e905";
}
.tl-icon.arrow-right-plus span::before {
  content: "\e906";
  margin-left: -1em;
}
.tl-icon.arrow-right-solid::before {
  content: "\e907";
}
.tl-icon.arrow-square::before {
  content: "\e908";
}
.tl-icon.arrow-to-left-solid::before {
  content: "\e909";
}
.tl-icon.arrow-to-right-solid::before {
  content: "\e90a";
}
.tl-icon.arrow-top-right::before {
  content: "\e90b";
}
.tl-icon.arrow-top-right-square::before {
  content: "\e90c";
}
.tl-icon.ban::before {
  content: "\e90d";
}
.tl-icon.bars::before {
  content: "\e90e";
}
.tl-icon.book::before {
  content: "\e90f";
}
.tl-icon.book-exclamation::before {
  content: "\e910";
}
.tl-icon.book-exclamation span::before {
  content: "\e911";
  margin-left: -1em;
}
.tl-icon.book-open::before {
  content: "\e912";
}
.tl-icon.book-open-exclamation::before {
  content: "\e913";
}
.tl-icon.book-open-exclamation span::before {
  content: "\e914";
  margin-left: -1em;
}
.tl-icon.bookmark::before {
  content: "\e915";
}
.tl-icon.building-blocks::before {
  content: "\e916";
}
.tl-icon.button-background::before {
  content: "\e917";
}
.tl-icon.button-background span::before {
  content: "\e918";
  margin-left: -1em;
  opacity: 0.3569;
}
.tl-icon.button-background span::after {
  content: "\e919";
  margin-left: -1em;
  opacity: 0.2627;
}
.tl-icon.calendar::before {
  content: "\e91a";
}
.tl-icon.camera::before {
  content: "\e91b";
}
.tl-icon.cancel::before {
  content: "\e91c";
}
.tl-icon.caret-bottom-right::before {
  content: "\e91d";
}
.tl-icon.caret-down::before {
  content: "\e91e";
}
.tl-icon.caret-down-double::before {
  content: "\e91f";
}
.tl-icon.caret-left::before {
  content: "\e920";
}
.tl-icon.caret-left-border::before {
  content: "\e921";
}
.tl-icon.caret-left-border span::before {
  content: "\e922";
  margin-left: -1em;
}
.tl-icon.caret-left-double::before {
  content: "\e923";
}
.tl-icon.caret-left-light::before {
  content: "\e924";
}
.tl-icon.caret-right::before {
  content: "\e925";
}
.tl-icon.caret-right-border::before {
  content: "\e926";
}
.tl-icon.caret-right-border span::before {
  content: "\e927";
  margin-left: -1em;
}
.tl-icon.caret-right-double::before {
  content: "\e928";
}
.tl-icon.caret-right-light::before {
  content: "\e929";
}
.tl-icon.caret-top-right::before {
  content: "\e92a";
}
.tl-icon.caret-up::before {
  content: "\e92b";
}
.tl-icon.caret-up-double::before {
  content: "\e92c";
}
.tl-icon.chain::before {
  content: "\e92d";
}
.tl-icon.chart-bar::before {
  content: "\e92e";
}
.tl-icon.chart-bar-line::before {
  content: "\e92f";
}
.tl-icon.check::before {
  content: "\e930";
}
.tl-icon.check-circle::before {
  content: "\e931";
}
.tl-icon.check-circle span::before {
  content: "\e932";
  margin-left: -1em;
}
.tl-icon.check-square::before {
  content: "\e933";
}
.tl-icon.check-square span::before {
  content: "\e934";
  margin-left: -1em;
}
.tl-icon.checkbox-remove::before {
  content: "\e935";
}
.tl-icon.checkbox-remove span::before {
  content: "\e936";
  margin-left: -1em;
}
.tl-icon.checkbox-remove span::after {
  content: "\e937";
  margin-left: -1em;
}
.tl-icon.checkbox-select-all::before {
  content: "\e938";
}
.tl-icon.checkbox-select-all span::before {
  content: "\e939";
  margin-left: -1em;
}
.tl-icon.chevron-double-right::before {
  content: "\e93a";
}
.tl-icon.chevron-down::before {
  content: "\e93b";
}
.tl-icon.chevron-flat-down::before {
  content: "\e93c";
}
.tl-icon.chevron-round-down::before {
  content: "\e93d";
}
.tl-icon.chevron-round-right::before {
  content: "\e93e";
}
.tl-icon.chevron-up::before {
  content: "\e93f";
}
.tl-icon.circle::before {
  content: "\e940";
}
.tl-icon.circle-light::before {
  content: "\e941";
}
.tl-icon.circle-light span::before {
  content: "\e942";
  margin-left: -1em;
}
.tl-icon.clipboard::before {
  content: "\e943";
}
.tl-icon.clipboard-add::before {
  content: "\e944";
}
.tl-icon.clipboard-add span::before {
  content: "\e945";
  margin-left: -1em;
}
.tl-icon.clipboard-add span::after {
  content: "\e946";
  margin-left: -1em;
}
.tl-icon.clipboard-paste::before {
  content: "\e947";
}
.tl-icon.clipboard-remove::before {
  content: "\e948";
}
.tl-icon.clipboard-remove span::before {
  content: "\e949";
  margin-left: -1em;
}
.tl-icon.clipboard-remove span::after {
  content: "\e94a";
  margin-left: -1em;
}
.tl-icon.clock::before {
  content: "\e94b";
}
.tl-icon.cockpit::before {
  content: "\e94c";
}
.tl-icon.collapse::before {
  content: "\e94d";
}
.tl-icon.columns::before {
  content: "\e94e";
}
.tl-icon.commands::before {
  content: "\e94f";
}
.tl-icon.company::before {
  content: "\e950";
}
.tl-icon.compare::before {
  content: "\e951";
}
.tl-icon.cross::before {
  content: "\e952";
}
.tl-icon.cross-circle::before {
  content: "\e953";
}
.tl-icon.cross-circle span::before {
  content: "\e954";
  margin-left: -1em;
}
.tl-icon.cross-circle-border::before {
  content: "\e955";
}
.tl-icon.dashboard::before {
  content: "\e956";
}
.tl-icon.dashboard-alt::before {
  content: "\e957";
}
.tl-icon.debug::before {
  content: "\e958";
}
.tl-icon.debug-alt::before {
  content: "\e959";
}
.tl-icon.debug-alt span::before {
  content: "\e95a";
  margin-left: -1em;
}
.tl-icon.design-reload::before {
  content: "\e95b";
}
.tl-icon.design-reload-alt::before {
  content: "\e95c";
}
.tl-icon.download::before {
  content: "\e95d";
}
.tl-icon.edit::before {
  content: "\e95e";
}
.tl-icon.edit-document::before {
  content: "\e95f";
}
.tl-icon.element::before {
  content: "\e960";
}
.tl-icon.element-create::before {
  content: "\e961";
}
.tl-icon.element-create span::before {
  content: "\e962";
  margin-left: -1em;
}
.tl-icon.element-create span::after {
  content: "\e963";
  margin-left: -1em;
}
.tl-icon.element-search::before {
  content: "\e964";
}
.tl-icon.element-search span::before {
  content: "\e965";
  margin-left: -1em;
}
.tl-icon.element-search span::after {
  content: "\e966";
  margin-left: -1em;
}
.tl-icon.error::before {
  content: "\e967";
}
.tl-icon.error span::before {
  content: "\e968";
  margin-left: -1em;
}
.tl-icon.exclamation::before {
  content: "\e969";
}
.tl-icon.exclamation-border::before {
  content: "\e96a";
}
.tl-icon.exclamation-border span::before {
  content: "\e96b";
  margin-left: -1em;
}
.tl-icon.exclamation-circle::before {
  content: "\e96c";
}
.tl-icon.exclamation-circle span::before {
  content: "\e96d";
  margin-left: -1em;
}
.tl-icon.exclamation-circle-border::before {
  content: "\e96e";
}
.tl-icon.exclamation-circle-border span::before {
  content: "\e96f";
  margin-left: -1em;
}
.tl-icon.exclamation-triangle::before {
  content: "\e970";
}
.tl-icon.exclamation-triangle span::before {
  content: "\e971";
  margin-left: -1em;
}
.tl-icon.expand::before {
  content: "\e972";
}
.tl-icon.export-excel::before {
  content: "\e973";
}
.tl-icon.export-pdf::before {
  content: "\e974";
}
.tl-icon.export-pdf span::before {
  content: "\e975";
  margin-left: -1em;
}
.tl-icon.export-pdf span::after {
  content: "\e976";
  margin-left: -1em;
}
.tl-icon.export-ppt::before {
  content: "\e977";
}
.tl-icon.export-xml::before {
  content: "\e978";
}
.tl-icon.export-xml span::before {
  content: "\e979";
  margin-left: -1em;
}
.tl-icon.export-xml span::after {
  content: "\e97a";
  margin-left: -1em;
}
.tl-icon.fieldset::before {
  content: "\e97b";
}
.tl-icon.file::before {
  content: "\e97c";
}
.tl-icon.file-binary::before {
  content: "\e97d";
}
.tl-icon.file-c::before {
  content: "\e97e";
}
.tl-icon.file-clock::before {
  content: "\e97f";
}
.tl-icon.file-create::before {
  content: "\e980";
}
.tl-icon.file-create span::before {
  content: "\e981";
  margin-left: -1em;
}
.tl-icon.file-create span::after {
  content: "\e982";
  margin-left: -1em;
}
.tl-icon.file-float::before {
  content: "\e983";
}
.tl-icon.file-hashtag::before {
  content: "\e984";
}
.tl-icon.file-i::before {
  content: "\e985";
}
.tl-icon.file-knowledgeObject::before {
  content: "\e986";
}
.tl-icon.file-metaAttribute::before {
  content: "\e987";
}
.tl-icon.file-metaClass::before {
  content: "\e988";
}
.tl-icon.file-o::before {
  content: "\e989";
}
.tl-icon.file-p::before {
  content: "\e98a";
}
.tl-icon.file-person::before {
  content: "\e98b";
}
.tl-icon.file-reset::before {
  content: "\e98c";
}
.tl-icon.file-root::before {
  content: "\e98d";
}
.tl-icon.file-sp::before {
  content: "\e98e";
}
.tl-icon.file-sp span::before {
  content: "\e98f";
  margin-left: -1em;
}
.tl-icon.file-text::before {
  content: "\e990";
}
.tl-icon.file-upload::before {
  content: "\e991";
}
.tl-icon.file-upload span::before {
  content: "\e992";
  margin-left: -1em;
}
.tl-icon.file-upload span::after {
  content: "\e993";
  margin-left: -1em;
}
.tl-icon.file-v::before {
  content: "\e994";
}
.tl-icon.file-wp::before {
  content: "\e995";
}
.tl-icon.file-wp span::before {
  content: "\e996";
  margin-left: -1em;
}
.tl-icon.file-zip::before {
  content: "\e997";
}
.tl-icon.filter::before {
  content: "\e998";
}
.tl-icon.filter-remove::before {
  content: "\e999";
}
.tl-icon.flashlight-square::before {
  content: "\e99a";
}
.tl-icon.flashlight-square span::before {
  content: "\e99b";
  margin-left: -1em;
}
.tl-icon.folder-create::before {
  content: "\e99c";
}
.tl-icon.folder-create span::before {
  content: "\e99d";
  margin-left: -1em;
}
.tl-icon.folder-create span::after {
  content: "\e99e";
  margin-left: -1em;
}
.tl-icon.folder-download::before {
  content: "\e99f";
}
.tl-icon.form::before {
  content: "\e9a0";
}
.tl-icon.form-border::before {
  content: "\e9a1";
}
.tl-icon.form-border-reset::before {
  content: "\e9a2";
}
.tl-icon.form-border-reset span::before {
  content: "\e9a3";
  margin-left: -1em;
}
.tl-icon.form-border-reset span::after {
  content: "\e9a4";
  margin-left: -1em;
}
.tl-icon.form-reset::before {
  content: "\e9a5";
}
.tl-icon.form-reset span::before {
  content: "\e9a6";
  margin-left: -1em;
}
.tl-icon.form-reset span::after {
  content: "\e9a7";
  margin-left: -1em;
}
.tl-icon.garbage-can-open::before {
  content: "\e9a8";
}
.tl-icon.gear::before {
  content: "\e9a9";
}
.tl-icon.gear-arrow-right::before {
  content: "\e9aa";
}
.tl-icon.gear-arrow-right-create::before {
  content: "\e9ab";
}
.tl-icon.gear-double::before {
  content: "\e9ac";
}
.tl-icon.gear-reload::before {
  content: "\e9ad";
}
.tl-icon.group::before {
  content: "\e9ae";
}
.tl-icon.hierarchy::before {
  content: "\e9af";
}
.tl-icon.home::before {
  content: "\e9b0";
}
.tl-icon.hourglass::before {
  content: "\e9b1";
}
.tl-icon.image::before {
  content: "\e9b2";
}
.tl-icon.import-excel::before {
  content: "\e9b3";
}
.tl-icon.import-excel span::before {
  content: "\e9b4";
  margin-left: -1em;
}
.tl-icon.import-excel span::after {
  content: "\e9b5";
  margin-left: -1em;
}
.tl-icon.info-square::before {
  content: "\e9b6";
}
.tl-icon.info-square span::before {
  content: "\e9b7";
  margin-left: -1em;
}
.tl-icon.international-text::before {
  content: "\e9b8";
}
.tl-icon.international-text-alt::before {
  content: "\e9b9";
}
.tl-icon.leave::before {
  content: "\e9ba";
}
.tl-icon.lightbulb::before {
  content: "\e9bb";
}
.tl-icon.lightbulb-circle::before {
  content: "\e9bc";
}
.tl-icon.lightbulb-circle span::before {
  content: "\e9bd";
  margin-left: -1em;
}
.tl-icon.locked::before {
  content: "\e9be";
}
.tl-icon.logo-tl-big::before {
  content: "\e9bf";
}
.tl-icon.logo-tl-small::before {
  content: "\e9c0";
}
.tl-icon.maximize-arrows::before {
  content: "\e9c1";
}
.tl-icon.milestone::before {
  content: "\e9c2";
}
.tl-icon.milestone-add::before {
  content: "\e9c3";
}
.tl-icon.milestone-line::before {
  content: "\e9c4";
}
.tl-icon.milestone-line span::before {
  content: "\e9c5";
  margin-left: -1em;
}
.tl-icon.milestone-line-mono::before {
  content: "\e9c6";
}
.tl-icon.minimize-arrows::before {
  content: "\e9c7";
}
.tl-icon.minus-square::before {
  content: "\e9c8";
}
.tl-icon.minus-square span::before {
  content: "\e9c9";
  margin-left: -1em;
}
.tl-icon.network::before {
  content: "\e9ca";
}
.tl-icon.network-small::before {
  content: "\e9cb";
}
.tl-icon.null-square::before {
  content: "\e9cc";
}
.tl-icon.null-square span::before {
  content: "\e9cd";
  margin-left: -1em;
}
.overlay-add span::before {
  content: "\e9cf";
  margin-left: -1em;
}
.overlay-add span::after {
  content: "\e9d0";
  margin-left: -1em;
}
.overlay-create span::before {
  content: "\e9d2";
  margin-left: -1em;
}
.overlay-create span::after {
  content: "\e9d3";
  margin-left: -1em;
}
.overlay-export span::before {
  content: "\e9d5";
  margin-left: -1em;
}
.overlay-export span::after {
  content: "\e9d6";
  margin-left: -1em;
}
.overlay-gear span::before {
  content: "\e9d8";
  margin-left: -1em;
}
.overlay-gear span::after {
  content: "\e9d9";
  margin-left: -1em;
}
.overlay-import span::before {
  content: "\e9db";
  margin-left: -1em;
}
.overlay-import span::after {
  content: "\e9dc";
  margin-left: -1em;
}
.overlay-remove span::before {
  content: "\e9de";
  margin-left: -1em;
}
.overlay-remove span::after {
  content: "\e9df";
  margin-left: -1em;
}
.overlay-reset span::before {
  content: "\e9e1";
  margin-left: -1em;
}
.overlay-reset span::after {
  content: "\e9e2";
  margin-left: -1em;
}
.overlay-search span::before {
  content: "\e9e4";
  margin-left: -1em;
}
.overlay-search span::after {
  content: "\e9e5";
  margin-left: -1em;
}
.tl-icon.paused::before {
  content: "\e9e6";
}
.tl-icon.pencil::before {
  content: "\e9e7";
}
.tl-icon.person::before {
  content: "\e9e8";
}
.tl-icon.person-gear::before {
  content: "\e9e9";
}
.tl-icon.person-gear span::before {
  content: "\e9ea";
  margin-left: -1em;
}
.tl-icon.person-gear span::after {
  content: "\e9eb";
  margin-left: -1em;
}
.tl-icon.play-cancel::before {
  content: "\e9ec";
}
.tl-icon.play-cancel span::before {
  content: "\e9ed";
  margin-left: -1em;
}
.tl-icon.play-cancel span::after {
  content: "\e9ee";
  margin-left: -1em;
}
.tl-icon.plus::before {
  content: "\e9ef";
}
.tl-icon.pointer-chevron::before {
  content: "\e9f0";
}
.tl-icon.portfolio::before {
  content: "\e9f1";
}
.tl-icon.program::before {
  content: "\e9f2";
}
.tl-icon.project::before {
  content: "\e9f3";
}
.tl-icon.project-add::before {
  content: "\e9f4";
}
.tl-icon.project-add span::before {
  content: "\e9f5";
  margin-left: -1em;
}
.tl-icon.project-add span::after {
  content: "\e9f6";
  margin-left: -1em;
}
.tl-icon.project-line::before {
  content: "\e9f7";
}
.tl-icon.project-line span::before {
  content: "\e9f8";
  margin-left: -1em;
}
.tl-icon.project-line-mono::before {
  content: "\e9f9";
}
.tl-icon.project-root::before {
  content: "\e9fa";
}
.tl-icon.project-sub::before {
  content: "\e9fb";
}
.tl-icon.question-chevron::before {
  content: "\e9fc";
}
.tl-icon.question-circle::before {
  content: "\e9fd";
}
.tl-icon.question-circle span::before {
  content: "\e9fe";
  margin-left: -1em;
}
.tl-icon.question-speachbubble::before {
  content: "\e9ff";
}
.tl-icon.question-speachbubble span::before {
  content: "\ea00";
  margin-left: -1em;
}
.tl-icon.quote::before {
  content: "\ea01";
}
.tl-icon.quote span::before {
  content: "\ea02";
  margin-left: -1em;
}
.tl-icon.reload::before {
  content: "\ea03";
}
.tl-icon.result::before {
  content: "\ea04";
}
.tl-icon.result span::before {
  content: "\ea05";
  margin-left: -1em;
}
.tl-icon.result span::after {
  content: "\ea06";
  margin-left: -1em;
}
.tl-icon.row-add::before {
  content: "\ea07";
}
.tl-icon.row-add span::before {
  content: "\ea08";
  margin-left: -1em;
}
.tl-icon.row-add span::after {
  content: "\ea09";
  margin-left: -1em;
}
.tl-icon.row-top-add::before {
  content: "\ea0a";
}
.tl-icon.row-top-add span::before {
  content: "\ea0b";
  margin-left: -1em;
}
.tl-icon.row-top-add span::after {
  content: "\ea0c";
  margin-left: -1em;
}
.tl-icon.rule::before {
  content: "\ea0d";
}
.tl-icon.save::before {
  content: "\ea0e";
}
.tl-icon.save-modified::before {
  content: "\ea0f";
}
.tl-icon.save-modified span::before {
  content: "\ea10";
  margin-left: -1em;
}
.tl-icon.save-modified span::after {
  content: "\ea11";
  margin-left: -1em;
}
.tl-icon.scale::before {
  content: "\ea12";
}
.tl-icon.scissors::before {
  content: "\ea13";
}
.tl-icon.search::before {
  content: "\ea14";
}
.tl-icon.selection-invert::before {
  content: "\ea15";
}
.tl-icon.separator::before {
  content: "\ea16";
}
.tl-icon.sort::before {
  content: "\ea17";
}
.tl-icon.square-dashed::before {
  content: "\ea18";
}
.tl-icon.star::before {
  content: "\ea19";
}
.tl-icon.star-circle::before {
  content: "\ea1a";
}
.tl-icon.star-circle span::before {
  content: "\ea1b";
  margin-left: -1em;
}
.tl-icon.star-square::before {
  content: "\ea1c";
}
.tl-icon.star-square span::before {
  content: "\ea1d";
  margin-left: -1em;
}
.tl-icon.start::before {
  content: "\ea1e";
}
.tl-icon.step-into::before {
  content: "\ea1f";
}
.tl-icon.step-out::before {
  content: "\ea20";
}
.tl-icon.step-over::before {
  content: "\ea21";
}
.tl-icon.stop::before {
  content: "\ea22";
}
.tl-icon.structure::before {
  content: "\ea23";
}
.tl-icon.table::before {
  content: "\ea24";
}
.tl-icon.table-add::before {
  content: "\ea25";
}
.tl-icon.table-add span::before {
  content: "\ea26";
  margin-left: -1em;
}
.tl-icon.table-add span::after {
  content: "\ea27";
  margin-left: -1em;
}
.tl-icon.table-reset::before {
  content: "\ea28";
}
.tl-icon.table-reset span::before {
  content: "\ea29";
  margin-left: -1em;
}
.tl-icon.table-reset span::after {
  content: "\ea2a";
  margin-left: -1em;
}
.tl-icon.table-sort::before {
  content: "\ea2b";
}
.tl-icon.table-sort span::before {
  content: "\ea2c";
  margin-left: -1em;
}
.tl-icon.table-sort span::after {
  content: "\ea2d";
  margin-left: -1em;
}
.tl-icon.target::before {
  content: "\ea2e";
}
.tl-icon.target-hexagon::before {
  content: "\ea2f";
}
.tl-icon.target-number::before {
  content: "\ea30";
}
.tl-icon.target-number span::before {
  content: "\ea31";
  margin-left: -1em;
}
.tl-icon.target-number span::after {
  content: "\ea32";
  margin-left: -1em;
}
.tl-icon.target-qualitative::before {
  content: "\ea33";
}
.tl-icon.target-qualitative span::before {
  content: "\ea34";
  margin-left: -1em;
}
.tl-icon.target-qualitative span::after {
  content: "\ea35";
  margin-left: -1em;
}
.tl-icon.target-sum::before {
  content: "\ea36";
}
.tl-icon.target-sum span::before {
  content: "\ea37";
  margin-left: -1em;
}
.tl-icon.target-sum span::after {
  content: "\ea38";
  margin-left: -1em;
}
.tl-icon.text-arrow-left::before {
  content: "\ea39";
}
.tl-icon.text-arrow-right::before {
  content: "\ea3a";
}
.tl-icon.tools::before {
  content: "\ea3b";
}
.tl-icon.tools-details::before {
  content: "\ea3c";
}
.tl-icon.traffic-hoizontal::before {
  content: "\ea3d";
}
.tl-icon.traffic-hoizontal span::before {
  content: "\ea3e";
  margin-left: -1em;
}
.tl-icon.traffic-hoizontal span::after {
  content: "\ea3f";
  margin-left: -1em;
}
.tl-icon.traffic-hoizontal::after {
  content: "\ea40";
  margin-left: -1em;
}
.tl-icon.traffic-vertical::before {
  content: "\ea41";
}
.tl-icon.traffic-vertical span::before {
  content: "\ea42";
  margin-left: -1em;
}
.tl-icon.traffic-vertical span::after {
  content: "\ea43";
  margin-left: -1em;
}
.tl-icon.traffic-vertical::after {
  content: "\ea44";
  margin-left: -1em;
}
.tl-icon.triangle::before {
  content: "\ea45";
}
.tl-icon.triangle-right::before {
  content: "\ea46";
}
.tl-icon.type-a::before {
  content: "\ea47";
}
.tl-icon.type-a span::before {
  content: "\ea48";
  margin-left: -1em;
}
.tl-icon.type-as::before {
  content: "\ea49";
}
.tl-icon.type-as span::before {
  content: "\ea4a";
  margin-left: -1em;
}
.tl-icon.type-as-large::before {
  content: "\ea4b";
}
.tl-icon.type-as-large span::before {
  content: "\ea4c";
  margin-left: -1em;
}
.tl-icon.type-b::before {
  content: "\ea4d";
}
.tl-icon.type-b span::before {
  content: "\ea4e";
  margin-left: -1em;
}
.tl-icon.type-bs::before {
  content: "\ea4f";
}
.tl-icon.type-bs span::before {
  content: "\ea50";
  margin-left: -1em;
}
.tl-icon.type-c::before {
  content: "\ea51";
}
.tl-icon.type-c span::before {
  content: "\ea52";
  margin-left: -1em;
}
.tl-icon.type-cs::before {
  content: "\ea53";
}
.tl-icon.type-cs span::before {
  content: "\ea54";
  margin-left: -1em;
}
.tl-icon.type-iO::before {
  content: "\ea55";
}
.tl-icon.type-iO span::before {
  content: "\ea56";
  margin-left: -1em;
}
.tl-icon.type-ls::before {
  content: "\ea57";
}
.tl-icon.type-ls span::before {
  content: "\ea58";
  margin-left: -1em;
}
.tl-icon.type-new-ap::before {
  content: "\ea59";
}
.tl-icon.type-new-ap span::before {
  content: "\ea5a";
  margin-left: -1em;
}
.tl-icon.type-new-as::before {
  content: "\ea5b";
}
.tl-icon.type-new-as span::before {
  content: "\ea5c";
  margin-left: -1em;
}
.tl-icon.type-new-as-child::before {
  content: "\ea5d";
}
.tl-icon.type-new-as-child span::before {
  content: "\ea5e";
  margin-left: -1em;
}
.tl-icon.type-new-bp::before {
  content: "\ea5f";
}
.tl-icon.type-new-bp span::before {
  content: "\ea60";
  margin-left: -1em;
}
.tl-icon.type-new-bs::before {
  content: "\ea61";
}
.tl-icon.type-new-bs span::before {
  content: "\ea62";
  margin-left: -1em;
}
.tl-icon.type-new-bs-child::before {
  content: "\ea63";
}
.tl-icon.type-new-bs-child span::before {
  content: "\ea64";
  margin-left: -1em;
}
.tl-icon.type-new-cp::before {
  content: "\ea65";
}
.tl-icon.type-new-cp span::before {
  content: "\ea66";
  margin-left: -1em;
}
.tl-icon.type-new-cs::before {
  content: "\ea67";
}
.tl-icon.type-new-cs span::before {
  content: "\ea68";
  margin-left: -1em;
}
.tl-icon.type-new-cs-child::before {
  content: "\ea69";
}
.tl-icon.type-new-cs-child span::before {
  content: "\ea6a";
  margin-left: -1em;
}
.tl-icon.type-xs::before {
  content: "\ea6b";
}
.tl-icon.type-xs span::before {
  content: "\ea6c";
  margin-left: -1em;
}
.tl-icon.type-xs-large::before {
  content: "\ea6d";
}
.tl-icon.type-xs-large span::before {
  content: "\ea6e";
  margin-left: -1em;
}
.tl-icon.unlock::before {
  content: "\ea6f";
}
.tl-icon.upload::before {
  content: "\ea70";
}
.tl-icon.window-maximize::before {
  content: "\ea71";
}
.tl-icon.window-minimize::before {
  content: "\ea72";
}
.tl-icon.window-normalize::before {
  content: "\ea73";
}
