@font-face {
	font-family: "Inter";
	src: url("../themes/core/fonts/Inter-Regular.otf") format("otf"),
		 url("../themes/core/fonts/Inter-Regular.woff") format("woff"),
		 url("../themes/core/fonts/Inter-Regular.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Inter";
	src: url("../themes/core/fonts/Inter-SemiBold.otf") format("otf"),
		 url("../themes/core/fonts/Inter-SemiBold.woff") format("woff"),
		 url("../themes/core/fonts/Inter-SemiBold.ttf") format("truetype");
	font-weight: bold;
}