.fullSize .ace_editor {
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: auto;
}

.popupEditField .cError {
	position: relative;
}

.ace-eclipse .ace_active-line {
    background: var(--background-selected);
}

.ace-eclipse .ace_marker-layer .ace_selection {
    background: var(--script-editor-text-highlight);
}

.ace-eclipse .ace_gutter-active-line {
	background: var(--layer-accent);
}

/* Adjust line height for the entire Ace Editor */
.ace_editor {
	font-size: var(--body-02-font-size);
	line-height: var(--body-02-line-height);
	border: 1px solid var(--border-subtle);
}

/* Adjust line height for the text area of the editor */
.ace_content {
	font-size: var(--body-02-font-size);
	line-height: var(--body-02-line-height);
}

div.ace_tooltip {
	white-space: normal;
	max-height: 50vh;
	overflow: auto;
}

div.ace_tooltip>code {
	white-space: pre;
}

div.ace_tooltip>code.inlineCode {
	white-space: normal;
}