body {
	font-size: 85%;
	font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
}
div.wila {
	width: 600px;
	height: 400px;
	margin: auto;
	text-align: left;
}
div.wila_t {
	width: 600px;
	height: 20px;
	text-align: left;
	background-color: blue;
	color: white;
	text-indent: 5px;
}
div.wila_b {
    float:left;
	width: 600px;
	height: 5px;
	background-color: blue;
	font-size: 1px
}
table.wila_table {
	border-collapse:collapse;
}
td.wila_l {
    padding: 0px;
	width: 5px;
	height: 375px;
	background-color: blue;
}
td.wila_c {
    padding: 0px;
	height: 375px; /*bereich ist leer */
	width:590px;
}
td.wila_r {
    padding: 0px;
	width: 5px;
	height: 375px;
	background-color: blue;
}
iframe.wila {
	width: 100%;
	height: 100%;
	border-width:0px; 	
}
